<!DOCTYPE html>
<html>
  <nav><%- include header.ejs %></nav>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/students.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
        <% if (activities.length > 0) {%>
        <table>
            <thead>
                <tr>
                    <th scope="row" colspan="3" style="text-align: center;">Activities</th>
                </tr>
            </thead>
            <tbody>
                <% activities.forEach((activity, index) => { %>
                    <tr>
                        <td scope="row"><%= activity.ActivityId %></th>
                        <td><%= activity.ActivityName %></td>
                        <td class="optionsColumn">
                            <a href="activities/delete/<%= activity.ActivityId %>">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h2>no activitie</h2>
    <% } %>
  </body>
  <script>
    rows = document.getElementsByTagName("tr");
    for(var i = 2; i < rows.length; i++){
        if(i % 2 == 0){
            rows[i].classList += " grayRow";
        }
    }
  </script>
</html>
