<!DOCTYPE html>
<html>
  <head>
    <nav><%- include header.ejs %></nav>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/admin-styling.css' />
    <link rel='stylesheet' href='/stylesheets/blockList.css' />
    <link rel='stylesheet' href='/stylesheets/accordian.css' />
    <link rel='stylesheet' href='/stylesheets/tabs.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/switch.css' />
    <link rel='stylesheet' href='/stylesheets/ulList.css' />
    <link rel='stylesheet' href='/stylesheets/checkbox.css' />
    <script src="/javascripts/utilityScripts.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div id="accordion">
      <h3 class="accordion">Students</h3>
        <div class="accordionPanel">
            <% if (students.length > 0) {%>
              <%- include listOfStudents.ejs %>
                  <li class="addStudent">
                    <div class="blockContainer">
                      <table>
                        <th>
                          <div>
                              <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-12-512.png">
                          </div>
                        </th>
                        <tr>
                          <td>a<br />
                          a</td>
                        </tr>
                      </table>
                      <div onclick="addStudent()" class="addStudentOverlay">
                        <a class="plusIcon" title="Create Student">&#43;</a>
                      </div>
                    </div>
                  </li>
                  <script>initStudentListVars();</script>
            <% } else { %>
              <ul class="blockList">
                  <li class="addStudent">
                    <div class="blockContainer">
                      <table>
                        <th>
                          <div>
                              <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-12-512.png">
                          </div>
                        </th>
                        <tr>
                          <td>a<br />
                          a</td>
                        </tr>
                      </table>
                      <div onclick="addStudent()" class="addStudentOverlay">
                        <a class="plusIcon" title="Create Student">&#43;</a>
                      </div>
                    </div>
                  </li>
            <% } %> 
            </ul>
            <div id="newStudentForm" class="formWindow">
              <!-- newStudentForm content -->
              <div class="formWindow-content">
                <span class="close">&times;</span>
                
                <ul>
                  <li class="formTitle">
                    <table style="width: 100%;">
                      <tr>
                        <td>Add a Student</td>
                        <td class="checkLabel"><label for="fullDay" class="checkBoxLabel">Full Day</label></td>
                        <td class="checkBox">
                          <label class="switch">
                            <input type="checkbox" id="fullDay" name="fullDay" checked="true">
                            <span class="slider round"></span>
                          </label>
                        </td>
                      </tr>
                    </table>
                  </li>
                  <li><input name=”notASearchField” type="text" id="newStudentName" placeholder="Student Name"></li>
                  <li><input name=”notASearchField” type="text" id="newStudentContact" placeholder="Guardian Name"></li>
                  <li><input name=”notASearchField” type="text" id="newStudentEmail" placeholder="Guardian Email"></li>
                  <li><input name=”notASearchField” type="text" id="newStudentBirthday" placeholder="Birthday YYYY/MM/DD"></li>
                  <li><input name=”notASearchField” type="text" id="newStudentContactNumber" placeholder="Guardian's Phone Number"></li>
                  <li><input name=”notASearchField” type="text" id="newStudentContact2" placeholder="2nd Guardian Name"></li>
                  <li><input name=”notASearchField” type="text" id="newStudentEmail2" placeholder="2nd Guardian Email"></li>
                  <li><input name=”notASearchField” type="text" id="newStudentContactNumber2" placeholder="2nd Guardian's Phone Number"></li>
                  <ul class="week">
                    <li style="display: none;"><p id="sun" onclick="weekdaySelected(this)" style="visibility: hidden;">S</p></li>
                    <li id="mon" onclick="weekdaySelected(this)"><a>M</a></li>
                    <li id="tue" onclick="weekdaySelected(this)"><a>T</a></li>
                    <li id="wed" onclick="weekdaySelected(this)"><a>W</a></li>
                    <li id="thu" onclick="weekdaySelected(this)"><a>T</a></li>
                    <li id="fri" onclick="weekdaySelected(this)"><a>F</a></li>
                    <li style="display: none;"><p id="sat" onclick="weekdaySelected(this)">S</p></li>
                  </ul>
                  <li style="text-align: center;"><a class="formSubmitButton" id="newStudentSubmit" onclick="callPostStu()">Create</a></li>
                </ul>
              </div>
          </div>
        </div>
      
      <h3 class="accordion">Activities</h3>
        <div class="accordionPanel">
          <% if (activities.length > 0) {%>
            
            <ul id="activities" class="ulList">
              <% activities.forEach((activity, index) => { %>
              <% if (activity.Hidden == 1) { %>
              <li class="blackAndWhite"></li>
              <% } else { %>
              <li>
              <% } %>
                <div class="checkBox" onclick="checkboxClicked(this)"><div>&#10004;</div></div>
                <p><%= activity.ActivityName %></p>
                <button id="greenButton" onclick="hideActivity(this, <%= activity %>);">👁</button>
                <button id="yellowButton" onclick="">🖉</button>
                <button id="redButton" onclick="">✖</button>
              </li>
              <% }) %>

            <li class="addActivity">
              <div class="blockContainer">
                <p title="Create Activity" onclick="addActivity()">New Activity +</p>
              </div>
            </li>
          <% } else { %>
            <ul class="blockList activitiesList">
              <li class="addActivity">
                <div class="blockContainer">
                  <p title="Create Activity" onclick="addActivity()">New Activity +</p>
                </div>
              </li>
            
          <% } %>
          </ul>
          <div id="newActivityForm" class="formWindow">
            <!-- newStudentForm content -->
            <div class="formWindow-content">
              <span class="close">&times;</span>
              <ul>
                <li class="formTitle">Add an Activity</li>
                <li><input type="text" id="newActivityName" placeholder="Activity Name"></li>
                <li style="text-align: center;"><a class="formSubmitButton" id="newActivitySubmit" onclick="callPostAct()">Create</a></li>
              </ul>
            </div>
          </div>
        </div>
      

      <h3 class="accordion">Tasks</h3>
        <div class="accordionPanel">
          <% if (tasks.length > 0) { %>
            <ul class="ulList">
              <% tasks.forEach((task, index) => { %>
                <li> 
                  <input type="checkbox">
                  <p><%= task %></p>                  
                  <!----<button> </button> -->
                </li>
              <% }) %>
            </ul>
          <% } %>
        </div>
    </div>
    
  </body>
  <script>
    $( function() {
      $( "#accordion" ).accordion({
        collapsible: true,
        active: false
      });
    } );
  </script>
  <script>
    // Get the modal
    var formElement;

    // opens student profile in same tab when a student is clicked
    function studentSelected(element, studentID){
      window.location.href ="/admin/student-profile/" + studentID;
    }

    function initStudentListVars(){
      document.getElementById("students").style.display = "flex";
    }

    // Get the <span> element that closes the modal
    var closeButton = document.getElementsByClassName("close");

    // When the user clicks on the button, open the modal
    function addStudent() {
      formElement = document.getElementById("newStudentForm");
      formElement.style.display = "block";
    }

    function addActivity(){
      formElement = document.getElementById("newActivityForm");
      formElement.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    closeButton[0].onclick = function() {
      formElement.style.display = "none";
    };
    closeButton[1].onclick = function() {
      formElement.style.display = "none";
    };

    function hideActivity(element, activity){

    }

    // When the user clicks anywhere outside of the form window, close it
    window.onclick = function(event) {
      if (event.target == formElement) {
        formElement.style.display = "none";
      }
    }

    //generate perameters for post and call post
    function callPostStu(){
      var theUrl = window.location.href+'/addstudent';
      var fullDay = convertBoolToInt(document.getElementById("fullDay").checked);

      var data = 
      "name=" + document.getElementById("newStudentName").value + 
      "&contact=" + document.getElementById("newStudentContact").value + 
      "&email=" + document.getElementById("newStudentEmail").value + 
      "&contactNum=" + document.getElementById("newStudentContactNumber").value + 
      "&contact2=" + document.getElementById("newStudentContact2").value + 
      "&email2=" + document.getElementById("newStudentEmail2").value + 
      "&contactNum2=" + document.getElementById("newStudentContactNumber2").value + 
      "&birthday=" + document.getElementById("newStudentBirthday").value + 
      "&sun=" + 0 + 
      "&mon=" + isDaySelected("mon") + 
      "&tue=" + isDaySelected("tue") + 
      "&wed=" + isDaySelected("wed") + 
      "&thu=" + isDaySelected("thu") + 
      "&fri=" + isDaySelected("fri") + 
      "&sat=" + 0 + 
      "&halfDay=" + fullDay + 
      "&enroll=" + 1 ;
      var callback = reloadIt;

      console.log(data);
      httpPostAsync(theUrl, data, callback);
    }

    function callPostAct(){

      theUrl = window.location.href+'/addactivity';
      data = "name=" + document.getElementById("newActivityName").value;
      callback = reloadIt;

      httpPostAsync(theUrl, data, callback);
    }
  </script>
</html>
