<!DOCTYPE html>
<html>
  <head>
    <nav><%- include header.ejs %></nav>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/students-admin.css' />
    <link rel='stylesheet' href='/stylesheets/studentsList.css' />
  </head>
  <body>
    <div>
        <a class="adminButton" id="addStu">Add student</a>
        <a class="adminButton" id="addAct">Add activity</a>
    </div>
    <div class="mainBlock">
        <form id="newStudent" style="visibility:hidden">
          <div class="input">
            <input type="text" id="newStudentName" placeholder="Student name">
            <input type="text" id="newStudentContact" placeholder="Primary contact name">
            <input type="text" id="newStudentEmail" placeholder="Primary contact email">
          </div>
          <a class="adminButton" id="newStudentSubmit">Submit </a><label id="stuStatus" style="visibility:hidden"></label>
        </form>
        <form id="newActivity" style="visibility:hidden">
          <div class="input">
            <input type="text" id="newActivityName" placeholder="Activity name">
          </div>
          <a class="adminButton" id="newActivitySubmit">Submit </a><label id="actStatus" style="visibility:hidden"></label>
      </form>
    </div>

    <% if (students.length > 0) {%>
      <ul class="studentsList">
          <% students.forEach((student, index) => { %>
            <% studentSpl = student.StudentName.split(" "); %>
          <li onclick="selectedStudent(this, <%= student.StudentId %>)">
              <a href="/admin/profile/<%= student.StudentId %>" class="imageContainer">
                  <table>
                  <th>
                      <div>
                          <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-12-512.png">
                      </div>
                      </th>
                  <tr>
                      <td><%= studentSpl[0] %>
                          <br /><%= studentSpl[1] %></td>
                  </tr>
                  </table>
                </a>
          </li>
          <% }) %>
          <li class="addStudent">
            <div class="studentContainer">
              <table>
                <th>
                  <div>
                      <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-12-512.png">
                  </div>
                </th>
              <tr>
                  <td>a<br />
                  a</td>
              </tr>
              </table>
              <div class="checkmarkOverlay">
                  <a class="plusIcon" title="Create Student">&#43</a>
              </div>
            </div>
          </li>
      </ul>
  
<% } else { %>
  <h2>no students</h2>
<% } %>

  </body>
  <script src="/javascripts/adminScripts.js"></script>
  <script>

  </script>
</html>
