<!DOCTYPE html>
<html>
  <head>
    <nav><%- include header.ejs %></nav>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/admin-styling.css' />
    <link rel='stylesheet' href='/stylesheets/blockList.css' />
    <link rel='stylesheet' href='/stylesheets/accordian.css' />
    <link rel='stylesheet' href='/stylesheets/tabs.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/switch.css' />
    <link rel='stylesheet' href='/stylesheets/ulList.css' />
    <link rel='stylesheet' href='/stylesheets/checkbox.css' />
    <script src="/javascripts/utilityScripts.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div id="accordion">
      <h3 class="accordion">Students</h3>
        <div class="accordionPanel">
          <ul id="students" class="ulList">
            <% if (students.length > 0) { %>
              <% students.forEach((student, index) => { %>
                <% studentSpl = student.StudentName.split(" "); %>
                  <li class="profileList clickableItem" id="<%= index %>" onclick="studentSelected(<%= student.StudentId %>)">
                    <script>checkStudentDayType(document.getElementById("<%= index %>"), <%= student.DayType %>);</script>
                    <img src="/uploads/images/<%- student.Img %>" onerror="this.src='/uploads/images/default.png'">
                    <p><%= student.StudentName %></p>
                  </li>
                <% }) %>
            <% } %> 
              <li title="Add Student" class="profileList clickableItem addElement" onclick="addStudent()">
                <div class="addIcon">
                  <i class="fas fa-plus"></i>
                </div>
                <p>New Student</p>
              </li> 
          </ul>

          <!-- New Student Form -->
          <div id="newStudentForm" class="formWindow">
            <div class="formWindow-content">
              <span class="close">&times;</span>
              
              <ul>
                <li class="formTitle">
                  <table style="width: 100%;">
                    <tr>
                      <td>Add a Student</td>
                      <td class="switchLabel"><label for="fullDay" class="switchLabel">Full Day</label></td>
                      <td class="switchColumn">
                        <label class="switch">
                          <input type="checkbox" id="fullDay" name="fullDay" checked="true">
                          <span class="slider round"></span>
                        </label>
                      </td>
                    </tr>
                  </table>
                </li>
                <li><input name=”notASearchField” type="text" id="newStudentName" placeholder="Student Name"></li>
                <li><input name=”notASearchField” type="text" id="newStudentContact" placeholder="Guardian Name"></li>
                <li><input name=”notASearchField” type="text" id="newStudentEmail" placeholder="Guardian Email"></li>
                <li><input name=”notASearchField” type="text" id="newStudentBirthday" placeholder="Birthday YYYY/MM/DD"></li>
                <li><input name=”notASearchField” type="text" id="newStudentContactNumber" placeholder="Guardian's Phone Number"></li>
                <li><input name=”notASearchField” type="text" id="newStudentContact2" placeholder="2nd Guardian Name"></li>
                <li><input name=”notASearchField” type="text" id="newStudentEmail2" placeholder="2nd Guardian Email"></li>
                <li><input name=”notASearchField” type="text" id="newStudentContactNumber2" placeholder="2nd Guardian's Phone Number"></li>
                <li><textarea onkeyup="textAreaAdjust(this)" name="notASearchField" id="newStudentAllergies" placeholder="Student Allergies"></textarea></li>
                <li><textarea onkeyup="textAreaAdjust(this)" name="notASearchField" id="newStudentNotes" placeholder="Other Notes"></textarea></li>
                <ul class="week">
                  <li style="display: none;"><p id="sun" onclick="weekdaySelected(this)" style="visibility: hidden;">S</p></li>
                  <li id="mon" onclick="weekdaySelected(this)"><a>M</a></li>
                  <li id="tue" onclick="weekdaySelected(this)"><a>T</a></li>
                  <li id="wed" onclick="weekdaySelected(this)"><a>W</a></li>
                  <li id="thu" onclick="weekdaySelected(this)"><a>T</a></li>
                  <li id="fri" onclick="weekdaySelected(this)"><a>F</a></li>
                  <li style="display: none;"><p id="sat" onclick="weekdaySelected(this)">S</p></li>
                </ul>
                <li style="text-align: center;"><a class="formSubmitButton" id="newStudentSubmit" onclick="callPostStu()">Create</a></li>
              </ul>
            </div>
          </div>
        </div>
      
      <h3 class="accordion">Activities</h3>
        <div class="accordionPanel">
          <ul id="activities" class="ulList">
            <% if (activities.length > 0) {%>
              
              <% activities.forEach((activity, index) => { %>
                <% if (activity.Hidden == 1) { %>
                <li class="blackAndWhite">
                <% } else { %>
                <li>
                <% } %>
                  <p><%= activity.ActivityName %></p>
                  <button class="greenButton" onclick="hideActivity('<%= activity.ActivityId %>')"><i class="far fa-eye"></i></button>
                  <button class="yellowButton" onclick="editActivity('<%= activity.ActivityId %>')"><i class="far fa-edit"></i></button>
                  <button class="redButton" onclick="deleteActivity('<%= activity.ActivityId %>')"><i class="far fa-trash-alt"></i></button>
                </li>
              <% }) %>
            <% } %>
            <li onclick="addActivity()" class="addElement clickableItem">
              <p title="Create Activity" >New Activity +</p>
            </li>
          </ul>


            <!-- New Activity Form -->
          <div id="newActivityForm" class="formWindow">
            <div class="formWindow-content">
              <span class="close">&times;</span>
              <ul>
                <li class="formTitle">Add an Activity</li>
                <li><input type="text" id="newActivityName" placeholder="Activity Name"></li>
                <li style="text-align: center;"><a class="formSubmitButton" id="newActivitySubmit" onclick="callPostAct()">Create</a></li>
              </ul>
            </div>
          </div>
        </div>
      

      <h3 class="accordion">Tasks</h3>
        <div class="accordionPanel">
          <ul id="tasksList" class="ulList">
            <% if (tasks.length > 0) { %>            
              <% tasks.forEach((task, index) => { %>
                <li> 
                  <a class="checkBox" onclick="taskComplete(this, '<%= task.name %>') "></a>
                  <p><%= task.name %></p> 
                  <% if (task.priority == 0) { %>
                    <button class="greenButton" onclick="changePriority('<%= task.name %>')"><i class="far fa-flag"></i></button>  
                  <% } else if(task.priority == 1) { %>
                    <button class="yellowButton" onclick="changePriority('<%= task.name %>')"><i class="far fa-flag"></i></button>
                  <% } else { %>
                    <button class="redButton" onclick="changePriority('<%= task.name %>')"><i class="far fa-flag"></i></button>
                  <% } %>
                  <button onclick="deleteTask('<%= task.name %>')">☒</button>
              <% }) %>
              
            <% } %>
            <li class="addElement">
              <a title="Add Task" onclick="addTask()">New Task +</a>
            </li>
          </ul>
          <div id="newTaskForm" class="formWindow">
            <!-- newStudentForm content -->
            <div class="formWindow-content">
              <span class="close">&times;</span>
              <ul>
                <li class="formTitle">Add a Task</li>
                <li><input type="text" id="newTaskName" placeholder="Task Name"></li>
                <li>
                  <label for="cars">Select a priority</label>
                  <select id="newTaskPriority">
                    <option value=0>Low</option>
                    <option value=1>Medium</option>
                    <option value=2>High</option>
                  </select>
                </li>
                <li><a class="formSubmitButton" id="newTaskSubmit" onclick="addTaskPost()">Add</a></li>
                
              </ul>
            </div>
          </div>
        </div>
      <h3 class="accordion">Maintenance Log</h3>
        <div class="accordionPanel">
          <ul id="comptasksList" class="ulList">
            <% if (compTasks.length > 0) { %> 
              <table class="customTable grid-item">          
                <tbody>
                  <% compTasks.forEach((task, index) => {%>
                  <tr>
                    <td class="task">
                      <%= task.name %>
                    </td>
                    <td class="timeStamp">
                      <%= task.stamp %>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
            <% } %>
          </ul>
        </div>
    </div>

    
  </body>
  <script>
    $( function() {
      $( "#accordion" ).accordion({
        collapsible: true,
        active: false
      });
    } );
  </script>
  <script>
    // Get the modal
    var formElement;

    // opens student profile in same tab when a student is clicked
    function studentSelected(studentID){
      window.location.href ="/admin/student-profile/" + studentID;
    }

    // Get the <span> element that closes the modal
    var closeButton = document.getElementsByClassName("close");

    // When the user clicks on the button, open the modal
    function addStudent() {
      formElement = document.getElementById("newStudentForm");
      formElement.style.display = "block";
    }

    function addActivity(){
      formElement = document.getElementById("newActivityForm");
      formElement.style.display = "block";
    }

    function addTask(){
      formElement = document.getElementById("newTaskForm");
      formElement.style.display = "block";
    }

    function addTaskPost(){
      var theUrl = window.location.href+'/addtask';
      var data = "name=" + document.getElementById("newTaskName").value +
      "&priority=" +  document.getElementById("newTaskPriority");
      var callback = reloadIt;
      httpPostAsync(theUrl,data,callback);
    }

    // When the user clicks on <span> (x), close the modal
    closeButton[0].onclick = function() {
      formElement.style.display = "none";
    };
    closeButton[1].onclick = function() {
      formElement.style.display = "none";
    };
    closeButton[2].onclick = function() {
      formElement.style.display = "none";
    };

    function hideActivity(element){
      theUrl = window.location.href+'/hideactivity';
      data = "id=" + element;
      callback = reloadIt;

      httpPutAsync(theUrl, data, callback);
    }

    function editActivity(id){
      //take new input
      editActivityPost(id, "crab battle");
    }

    function editActivityPost(id,name){
      theUrl = window.location.href+'/editactivity';
      data = "id=" + id + "&name=" + name;
      callback = reloadIt;

      httpPutAsync(theUrl, data, callback);
    }

    function deleteActivity(element){
      theUrl = window.location.href+'/deleteactivity';
      data = "id=" + element;
      callback = reloadIt;

      httpPostAsync(theUrl, data, callback);
    }

    // When the user clicks anywhere outside of the form window, close it
    window.onclick = function(event) {
      if (event.target == formElement) {
        formElement.style.display = "none";
      }
    }


    //generate perameters for post and call post
    function callPostStu(){
      var theUrl = window.location.href+'/addstudent';
      var fullDay = convertBoolToInt(document.getElementById("fullDay").checked);

      var data = 
      "name=" + document.getElementById("newStudentName").value + 
      "&contact=" + document.getElementById("newStudentContact").value + 
      "&email=" + document.getElementById("newStudentEmail").value + 
      "&contactNum=" + document.getElementById("newStudentContactNumber").value + 
      "&contact2=" + document.getElementById("newStudentContact2").value + 
      "&email2=" + document.getElementById("newStudentEmail2").value + 
      "&contactNum2=" + document.getElementById("newStudentContactNumber2").value + 
      "&birthday=" + document.getElementById("newStudentBirthday").value + 
      "&sun=" + 0 + 
      "&mon=" + isDaySelected("mon") + 
      "&tue=" + isDaySelected("tue") + 
      "&wed=" + isDaySelected("wed") + 
      "&thu=" + isDaySelected("thu") + 
      "&fri=" + isDaySelected("fri") + 
      "&sat=" + 0 + 
      "&halfDay=" + fullDay + 
      "&enroll=" + 1 ;
      var callback = reloadIt;

      httpPostAsync(theUrl, data, callback);
    }

    function callPostAct(){

      theUrl = window.location.href+'/addactivity';
      data = "name=" + document.getElementById("newActivityName").value;
      callback = reloadIt;

      httpPostAsync(theUrl, data, callback);
    }

    function changePriority(task) {
      console.log(task);      
    }

    function deleteTask(task) {
    }
    function taskComplete(element, task){
      checkboxClicked(element);
      $(element.parentElement.getElementsByTagName("button")).animate({width:'toggle'},200);
      $(element.parentElement.getElementsByTagName("p")).animate({color: "#EEEEEE"},200);

      $(element.parentElement).animate({backgroundColor: "#5E895F"}, 200);

      
      setTimeout(function(){
        $(element.parentElement).slideUp("fast");
        $(element).animate({bottom: "200px"}, 100);
        //element.parentElement.style.display = "none";
      }, 500);
    }
  </script>
</html>
