<!DOCTYPE html>
<html>
  <head>
    <nav><%- include header.ejs %></nav>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/admin-styling.css' />
    <link rel='stylesheet' href='/stylesheets/custom-table.css' />
    <link rel='stylesheet' href='/stylesheets/blockList.css' />
    <link rel='stylesheet' href='/stylesheets/tabs.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/switch.css' />
    <link rel='stylesheet' href='/stylesheets/ulList.css' />
    <link rel='stylesheet' href='/stylesheets/checkbox.css' />
    <link rel="stylesheet" href="/stylesheets/prettydropdowns.css">
    <script src="/javascripts/utilityScripts.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/jquery.prettydropdowns.js"></script>
    <script src="/javascripts/birthdayDropdown.js"></script>

  </head>
  <body>

    <article class="tabbed-content width90">
      <nav class="tabs">
        <ul>
          <li><a href="#tab1" class="openTab">Students</a></li>
          <li><a href="#tab2">Activities</a></li>
          <li><a href="#tab3">Email Manager</a></li>
        </ul>
      </nav>
      <section id="tab1" class="item openTab" data-title="Students">
        <div class="item-content">
          <ul id="students" class="ulList spaceAround">
            <% if (students.length > 0) { %>
              <% students.forEach((student, index) => { %>
                <% studentSpl = student.StudentName.split(" "); %>
                  <li class="profileList white-BG clickableItem" id="<%= index %>" onclick="studentSelected(<%= student.StudentId %>)">
                    <script>checkStudentDayType(document.getElementById("<%= index %>"), <%= student.DayType %>);</script>
                    <img src="/uploads/images/<%- student.Img %>" onerror="this.src='/uploads/images/default.png'">
                    <p><%= student.StudentName %></p>
                  </li>
                <% }) %>
            <% } %> 
              <li title="Add Student" class="profileList clickableItem accent2Light-BG centerText" onclick="addStudent()">
                <div class="addIcon accent2-BG">
                  <i class="fas fa-plus"></i>
                </div>
                <p class="whiteText centerText textShadow">New Student</p>
              </li> 
          </ul>

          <!-- New Student Form -->
          <div id="newStudentForm" class="formWindow">
            <div class="formWindow-content">
              <span class="close" onclick="closeForm()">&times;</span>
              
              <ul>
                <li class="flex flexAlignCenter width100">
                  <div class="flexLeft">
                    <label for="fullDay" class="switchLabel">Full Day</label>
                    <label class="switch">
                      <input type="checkbox" id="fullDay" name="fullDay" checked="true">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  
                  <p class="largeFont width70" style="margin: 0; text-align: center;">Add a Student</p>
                </li>
                
                <li class="flex spaceBetween width100">
                  <input class="width40" name=”notASearchField” type="text" id="newStudentName" placeholder="Student Name"/>
                  <div class="flex flexRight flexAlignCenter width60">
                    <label class="mediumFontSize">Birthday:</label>
                    <select id="year" class="pretty-classic" onchange="genDays();">
                    </select>
  
                    <select id="month" class="pretty-classic" onchange="genDays();">
                      <option value="01">Jan</option>
                      <option value="02">Feb</option>
                      <option value="03">Mar</option>
                      <option value="04">Apr</option>
                      <option value="05">May</option>
                      <option value="06">Jun</option>
                      <option value="07">Jul</option>
                      <option value="08">Aug</option>
                      <option value="09">Sep</option>
                      <option value="10">Oct</option>
                      <option value="11">Nov</option>
                      <option value="12">Dec</option>
                    </select>
      
                    <select id="day" class="pretty-classic">
                    </select>
                  </div>
                
                </li>
                <li class="width100 flex spaceAround">
                  <div class="flex flexColumn width45">
                    <input name=”notASearchField” type="text" id="newStudentContact" placeholder="Guardian Name">
                    <input name=”notASearchField” type="text" id="newStudentEmail" placeholder="Guardian Email">
                    <input name=”notASearchField” type="text" id="newStudentContactNumber" placeholder="Guardian's Phone Number">
                  </div>

                  <div class="flex flexColumn width45">
                    <input name=”notASearchField” type="text" id="newStudentContact2" placeholder="2nd Guardian Name">
                    <input name=”notASearchField” type="text" id="newStudentEmail2" placeholder="2nd Guardian Email">
                    <input name=”notASearchField” type="text" id="newStudentContactNumber2" placeholder="2nd Guardian's Phone Number">
                  </div>
                </li>
                <li class="width100 flex spaceAround">
                  <div class="flex flexColumn width45">
                    <textarea onkeyup="textAreaAdjust(this)" name="notASearchField" id="newStudentAllergies" placeholder="Student Allergies"></textarea>
                  </div>

                  <div class="flex flexColumn width45">
                    <textarea onkeyup="textAreaAdjust(this)" name="notASearchField" id="newStudentNotes" placeholder="Other Notes"></textarea>
                  </div>
                </li>
                <li><ul class="week">
                  <li style="display: none;"><p id="sun" onclick="weekdaySelected(this)" style="visibility: hidden;">S</p></li>
                  <li id="mon" onclick="weekdaySelected(this)"><a>M</a></li>
                  <li id="tue" onclick="weekdaySelected(this)"><a>T</a></li>
                  <li id="wed" onclick="weekdaySelected(this)"><a>W</a></li>
                  <li id="thu" onclick="weekdaySelected(this)"><a>T</a></li>
                  <li id="fri" onclick="weekdaySelected(this)"><a>F</a></li>
                  <li style="display: none;"><p id="sat" onclick="weekdaySelected(this)">S</p></li>
                </ul>
                <li class="flexCenter"><a class="formSubmitButton" id="newStudentSubmit" onclick="callPostStu()">Create</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section id="tab2" class="item" data-title="Activities">
        <div class="item-content">
          <ul id="activities" class="ulList">
            <% if (activities.length > 0) {%>
              
              <% activities.forEach((activity, index) => { %>
                
                
                  <% if (activity.Hidden == 1) { %>
                  <li class="main-BG blackAndWhite">
                    <p><%= activity.ActivityName %></p>
                    <button class="green3-BG noBlackAndWhiteHover" onclick="hideActivity(this, '<%= activity.ActivityId %>', <%= activity.Hidden %>)"><i class="far fa-eye"></i></button>
                    <button class="yellow3-BG" onclick="editActivity('<%= activity.ActivityId %>', '<%= activity.ActivityName %>')"><i class="far fa-edit"></i></button>
                    <button class="red3-BG" onclick="deleteActivity('<%= activity.ActivityId %>')"><i class="far fa-trash-alt"></i></button>
                    
                  <% } else { %>
                  <li class="white-BG">
                    <p><%= activity.ActivityName %></p>
                    <button class="green3-BG noBlackAndWhiteHover" onclick="hideActivity(this, '<%= activity.ActivityId %>', <%= activity.Hidden %>)"><i class="far fa-eye"></i></button>
                    <button class="yellow3-BG" onclick="editActivity('<%= activity.ActivityId %>', '<%= activity.ActivityName %>')"><i class="far fa-edit"></i></button>
                    <button class="red3-BG" onclick="deleteActivity('<%= activity.ActivityId %>')"><i class="far fa-trash-alt"></i></button>
                    
                  <% } %>
                  
                </li>
              <% }) %>
            <% } %>
            <li onclick="addActivity()" class="accent2Light-BG clickableItem ">
              <p title="Create Activity" class="whiteText textShadow centerText largeFont">New Activity +</p>
            </li>
          </ul>

          <div id="editActivityForm" class="formWindow">
            <div class="formWindow-content">
              <span class="close" onclick="closeForm()">&times;</span>
              <ul>
                <li class="formTitle">Edit Activity</li>
                <li><p id="editActivityID" style="display: none"></p></li>
                <li><input type="text" id="editActivityInput" value=""></li>
                <li class="flexCenter"><a class="formSubmitButton" onclick="passEditActToPost()">Save Changes</a></li>
              </ul>
            </div>
          </div>


            <!-- New Activity Form -->
          <div id="newActivityForm" class="formWindow">
            <div class="formWindow-content">
              <span class="close" onclick="closeForm()">&times;</span>
              <ul>
                <li class="formTitleWithSwitch">
                  <p>Add an Activity</p>
                  <div class="rightAlignFormElement">
                    <label for="Helper" class="switchLabel">Helper</label>
                    <label class="switch">
                      <input type="checkbox" id="helper" name="Helper" checked="false">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </li>
                <li><input type="text" id="newActivityName" placeholder="Activity Name"></li>
                <li class="flexCenter"><a class="formSubmitButton" id="newActivitySubmit" onclick="callPostAct()">Create</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section id="tab3" class="item" data-title="Email Manager">
        <div class="item-content">
          <ul id="comptasksList" class="ulList">
            <li onclick="editHeader()" class="accent2Light-BG centerText clickableItem">
              <p title="Edit Header" class="whiteText centerText textShadow">Edit Header</p>
              
            </li>
          </ul>
        </div>
      </section>
    </article>

  </body>
  
  <script src="/javascripts/tabs.js"></script>
  <script>
    $dropdown = $('.pretty-classic').prettyDropdown({
        classic: true,
        height: 50,
        width: '10%',
        customClass: 'arrow mediumFontSize margins',
        hoverIntent: -1
      });
    // Get the modal
    var formElement;
    // opens student profile in same tab when a student is clicked
    function studentSelected(studentID){
      window.location.href ="/admin/student-profile/" + studentID;
    }

    // Get the <span> element that closes the modal
    var closeButton = document.getElementsByClassName("close");

    // When the user clicks on the button, open the modal
    function addStudent() {
      formElement = document.getElementById("newStudentForm");
      formElement.style.display = "block";
    }

    function addActivity(){
      formElement = document.getElementById("newActivityForm");
      formElement.style.display = "block";
    }

    function addTask(){
      formElement = document.getElementById("newTaskForm");
      formElement.style.display = "block";
    }


    function hideActivity(element, id, hidden){
      if(hidden){
        theUrl = window.location.href+'/unhideactivity';
      }
      else{ theUrl = window.location.href+'/hideactivity'; }
      data = "id=" + id;
      toggleActivityHide(element.parentElement)
      callback = doNothing;

      httpPutAsync(theUrl, data, callback);
    }

    function toggleActivityHide(element){
      if(element.classList.contains("blackAndWhite")){
        element.classList.remove("blackAndWhite");
        element.classList.remove("main-BG");
        element.classList.add("white-BG");
      }
      else{
        element.classList.remove("white-BG");
        element.classList.add("blackAndWhite");
        element.classList.add("main-BG");

      }
    }

    function editActivity(id, oldName){
      //take new input
      formElement = document.getElementById("editActivityForm");
      formElement.style.display = "block";
      formElement.querySelector("#editActivityID").innerHTML = id;
      formElement.querySelector("#editActivityInput").value = oldName;
    }

    function passEditActToPost(){
      var actID = formElement.querySelector("#editActivityID").innerHTML;
      var newName = formElement.querySelector("#editActivityInput").value;

      editActivityPost(actID, newName);
    }

    function editActivityPost(id,name){
      theUrl = window.location.href+'/editactivity';
      data = "id=" + id + "&name=" + name;
      callback = reloadIt;

      httpPutAsync(theUrl, data, callback);
    }

    function deleteActivity(element){
      theUrl = window.location.href+'/deleteactivity';
      data = "id=" + element;
      callback = reloadIt;

      httpPostAsync(theUrl, data, callback);
    }

    // When the user clicks anywhere outside of the form window, close it
    window.onclick = function(event) {
      if (event.target == formElement) {
        formElement.style.display = "none";
      }
    }


    //generate perameters for post and call post
    function callPostStu(){
      var theUrl = window.location.href+'/addstudent';
      var fullDay = convertBoolToInt(document.getElementById("fullDay").checked);
      birthday = getSelectedBirthday();

      var data = 
      "name=" + document.getElementById("newStudentName").value + 
      "&contact=" + document.getElementById("newStudentContact").value + 
      "&email=" + document.getElementById("newStudentEmail").value + 
      "&contactNum=" + document.getElementById("newStudentContactNumber").value + 
      "&contact2=" + document.getElementById("newStudentContact2").value + 
      "&email2=" + document.getElementById("newStudentEmail2").value + 
      "&contactNum2=" + document.getElementById("newStudentContactNumber2").value + 
      "&birthday=" + birthday + 
      "&sun=" + 0 + 
      "&mon=" + isDaySelected("mon") + 
      "&tue=" + isDaySelected("tue") + 
      "&wed=" + isDaySelected("wed") + 
      "&thu=" + isDaySelected("thu") + 
      "&fri=" + isDaySelected("fri") + 
      "&sat=" + 0 + 
      "&halfDay=" + fullDay + 
      "&enroll=" + 1 ;
      var callback = reloadIt;

      httpPostAsync(theUrl, data, callback);
    }

    function callPostAct(){
      var helper = convertBoolToInt(document.getElementById("helper").checked);
      theUrl = window.location.href+'/addactivity';
      data = "name=" + document.getElementById("newActivityName").value +
            "&helper=" + helper;
      callback = reloadIt;

      httpPostAsync(theUrl, data, callback);
    }

    function changePriority(task,cur) {
      theUrl = window.location.href+'/changetask';
      data = "id=" + task + "&priority=" + (cur + 1) % 3;
      callback = reloadIt; 
      httpPutAsync(theUrl,data,callback);  
    }


    function getSelectedBirthday(){
      var years = document.getElementById('year');
      var year = years.options[years.selectedIndex].text;
      var months = document.getElementById('month');
      var month = months.options[months.selectedIndex].value;
      var days = document.getElementById('day');
      var day = days.options[days.selectedIndex].text;

      return (year + '/' + month + '/' + day);
    }

    function addTaskPost(){
      var theUrl = window.location.href+'/addtask';
      var data = "name=" + document.getElementById("newTaskName").value +
      "&priority=" +  document.getElementById("newTaskPriority").value;
      var callback = reloadIt;
      httpPostAsync(theUrl,data,callback);
    }

    function deleteTask(task) {
      var helper = convertBoolToInt(document.getElementById("helper").checked);
      theUrl = window.location.href+'/deletetask';
      data = "id=" + task;
      callback = reloadIt;

      httpPostAsync(theUrl, data, callback);
    }
    function taskComplete(element, task){
      checkboxClicked(element);
      $(element.parentElement.getElementsByTagName("button")).animate({width:'toggle'},200);
      $(element.parentElement.getElementsByTagName("p")).animate({color: "#EEEEEE"},200);

      $(element.parentElement).animate({backgroundColor: "#5E895F"}, 200);

      
      setTimeout(function(){
        $(element.parentElement).slideUp("fast");
        $(element).animate({bottom: "200px"}, 100);
        //element.parentElement.style.display = "none";
      }, 500);

      theUrl = window.location.href+'/completetask';
      data = "id=" + task + "&completed=" + 1;
      callback = reloadIt; 
      httpPutAsync(theUrl,data,callback); 

    }
  </script>
</html>
