<!DOCTYPE html>
<html>
    <nav><%- include header.ejs %></nav>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/emailer.css' />
        <link rel='stylesheet' href='/stylesheets/form.css' />
        <link rel='stylesheet' href='/stylesheets/ulList.css' />
        <link rel='stylesheet' href='/stylesheets/editor.css' />
        <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.snow.css">

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <script src="/javascripts/emailerScripts.js"></script>
        <script src="/javascripts/utilityScripts.js"></script>

        <script>
            function fillSelect(id, list){
                var op = 'op';
                var select = document.getElementById(id).getElementsByTagName("select")[0];
                var len = Object.keys(list).length;
                for(var i = 0; i < len; i++){
                    var option = document.createElement("option");
                    if(i == 0){
                        select.append(option);
                    }
                    else{
                        op = 'op' + i;
                        option.text = list[op]; 
                        select.appendChild(option);
                    }
                }
            }
            
        </script>

    </head>
    <body>
        <div id="mainEmailerContainer" class="flexContainer spaceAround flexAlignCenter">
            <div id="stepOne" class="flexCenter flexColumn borderBox lightGray1-BG borderRadiusMedium width90">
                <p class="title accent2-BG">Step 1: Email Template</p>
                <div class="veryHeavyPadding">
                    <ul class="flex flexColumn">
                        <li class="marginBottom10">
                            <label for="summary">Summary</label>
                            <!-- toolbar container should be abstracted later -->
                            <div id="summary-toolbar-container">
                                <span class="ql-formats">
                                    <select class="ql-size">
                                        <option value="10px">Small</option>
                                        <option selected>Normal</option>
                                        <option value="18px">Large</option>
                                        <option value="32px">Huge</option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-align" value=""></button>
                                    <button class="ql-align" value="center"></button>
                                    <button class="ql-align" value="right"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color">
                                        <option selected></option>
                                        <option value="red"></option>
                                        <option value="orange"></option>
                                        <option value="yellow"></option>
                                        <option value="green"></option>
                                        <option value="blue"></option>
                                        <option value="purple"></option>
                                    </select>
                                    <select class="ql-background">
                                        <option selected></option>
                                        <option value="red"></option>
                                        <option value="orange"></option>
                                        <option value="yellow"></option>
                                        <option value="green"></option>
                                        <option value="blue"></option>
                                        <option value="purple"></option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                              </div>
                            <div id="summary">
                                <!-- <%- summary %> -->
                            </div>
                            
                        </li>
                        <li class="marginBottom10">
                            <label for="snack">AM Snack</label>
                            <div id="snack-toolbar-container">
                                <span class="ql-formats">
                                    <select class="ql-size">
                                        <option value="10px">Small</option>
                                        <option selected>Normal</option>
                                        <option value="18px">Large</option>
                                        <option value="32px">Huge</option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-align" value=""></button>
                                    <button class="ql-align" value="center"></button>
                                    <button class="ql-align" value="right"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color">
                                        <option selected></option>
                                        <option value="red"></option>
                                        <option value="orange"></option>
                                        <option value="yellow"></option>
                                        <option value="green"></option>
                                        <option value="blue"></option>
                                        <option value="purple"></option>
                                    </select>
                                    <select class="ql-background">
                                        <option selected></option>
                                        <option value="red"></option>
                                        <option value="orange"></option>
                                        <option value="yellow"></option>
                                        <option value="green"></option>
                                        <option value="blue"></option>
                                        <option value="purple"></option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                              </div>
                            <div id="snack">
                                <!-- <p><%- snack %></p> -->
                            </div>
                        </li>
                        <li class="marginBottom10">
                            <label for="lunch">Lunch</label>
                            <div id="lunch-toolbar-container">
                                <span class="ql-formats">
                                    <select class="ql-size">
                                        <option value="10px">Small</option>
                                        <option selected>Normal</option>
                                        <option value="18px">Large</option>
                                        <option value="32px">Huge</option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-align" value=""></button>
                                    <button class="ql-align" value="center"></button>
                                    <button class="ql-align" value="right"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color">
                                        <option selected></option>
                                        <option value="red"></option>
                                        <option value="orange"></option>
                                        <option value="yellow"></option>
                                        <option value="green"></option>
                                        <option value="blue"></option>
                                        <option value="purple"></option>
                                    </select>
                                    <select class="ql-background">
                                        <option selected></option>
                                        <option value="red"></option>
                                        <option value="orange"></option>
                                        <option value="yellow"></option>
                                        <option value="green"></option>
                                        <option value="blue"></option>
                                        <option value="purple"></option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                              </div>
                            <div id="lunch">
                                <!-- <p><%- lunch %></p> -->
                            </div>
                        </li>
                    </ul>
                    <!-- Create the editor container -->
                    
                    <div class="flex spaceBetween flexAlignCenter flexCollapseMobile">
                        <div id="remindersContainer" class="flex flexColumn borderRadiusMedium marginTop30 flexColumn flexCenter width40 width90Mobile heavyPadding white-BG">          
                            <div class="flex spaceBetween marginBottom30 width100 flexAlignCenter ">
                                <p class="mediumFont noMargin darkText">Reminders</p>
                                <a class="accent2-text" onclick="addReminder()">Add</a>
                            </div>
                            <ul id="reminders" class="flex flexColumn spaceBetween width100 border1px lightGray1-border maxHeight300px">
                            </ul>
                        </div>
                        <div id="saveButton" class="buttonWithIcon" onclick="updateDailyInfo();">
                            <p>Save</p>
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="buttonWithIcon" onclick="toNextStep();">
                            <p>Next</p>
                            <i class="fas fa-caret-right"></i>
                        </div>
                    </div>
                </div>
                
            </div>

            <div id="stepTwo" class="contentWithSidebar spaceAround">
                <div class="width70 lightGray1-BG borderRadiusMedium"> <!-- Left column -->
                    <div id="stepTwoTitle" class="title accent1Light-BG flex spaceBetween">
                        <p></p>
                        <div class="stepButton green2-BG" onclick="openReview()">
                            <p>Review</p>
                        </div>
                    </div>

                    <!-- Review Form -->
                    <div id="reviewForm" class="formWindow">
                        <div class="formWindow-content flexContainer width60 width90Mobile">
                            <span class="close" onclick="closeForm()">&times;</span>
                            <p class="font50px marginBottom40 centerText accent2Light-text">Review</p>
                            <div class="flex flexColumn flexCenter center flexAlignCenter marginBelowChildren10 width90">
                                <textarea class="width100" placeholder="Entire email will go here"></textarea>
                            </div>
                            <div class="flex flexCenter">
                                <a class="formSubmitButton flexGrow1 maxWidth600px" onclick="studentApproved(this)">Approve</a>
                            </div>
                            
                        </div>
                    </div>

                    <div class="content"> <!-- activities and dropdowns -->
                        <div class="flex marginBottom40 spaceBetween">
                            <div id="activities" class="width60">
                                <p class="mediumFont darkText marginBottom20">Activities</p>
                                <ul id="activitiesList" class="ulList darkText width50"></ul>
                            </div>

                            <!-- Behavior dropdowns -->
                            <div id="" class="flex flexColumn flexCenter heavyPadding width70">
                                <% behaviors.forEach((behavior, index) => { %>
                                    <div id="<%= behavior.name %>" class="flex flexAlignCenter spaceBetween marginBottom10 flexWrap">
                                        <label for="<%= behavior.name %>"><%= behavior.name %></label>
                                        
                                        <div class="flex spaceAround relative">
                                            <select id="<%= behavior.name%>Select" name="<%= behavior.name %>" class="width20">
                                            </select>
                                            
                                            <input style="display: none" id="<%=behavior.name %>-text-box" placeholder="<%=behavior.name %> Notes..."></input>
                                    
                                            <a onclick="toggleBetweenElements('<%=behavior.name %>-text-box', '<%= behavior.name%>Select-button');" class="marginLeft10 borderRadiusSmall accent4Light-BG lightPadding">
                                                <i class="fas fa-sticky-note darkText"></i>
                                            </a>
                                        </div>
                                        </div>

                                    <!-- Add note behavior forms -->
                                    <div id="<%= behavior.name %>Form" class="formWindow">
                                        <div class="formWindow-content width500px width90Mobile flexContainer">
                                            <span class="close" onclick="closeForm()">&times;</span>
                                            <p class="font50px marginBottom40 centerText accent2Light-text"><%= behavior.name %></p>
                                            <div class="flex flexColumn flexCenter center flexAlignCenter marginBelowChildren10 width80 width90Mobile">
                                                <textarea class="width100" id="<%=behavior.name %>-text-box" placeholder="<%=behavior.name %> notes.."></textarea>
                                            </div>
                                            <!-- <div class="flex flexCenter">
                                                <a class="formSubmitButton flexGrow1 maxWidth600px" onclick="behaviorNote(this)">Save Note</a>
                                            </div> -->
                                            
                                        </div>
                                    </div>

                                    <script>fillSelect('<%= behavior.name %>', <%- JSON.stringify(behavior) %>);</script>
                                        
                                <% }) %>
                            </div>
                        </div>
                        <div class="flex spaceBetween flexAlignCenter">
                            <div class="accent4-BG buttonWithIcon" onclick="toPreviousStep();">
                                <i class="fas fa-caret-left"></i>
                                <p>Back</p>
                            </div>
                            <div id="saveButton" class="buttonWithIcon" onclick="studentSaved(<%= JSON.stringify(behaviors) %>);">
                                <p>Save</p>
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Right column (students) -->
                <div class="sidebar width20 lightGray1-BG">
                    <ul id="listOfStudents" class="studentsList maxHeight500px" >
                    <% if (reports.length > 0) { %>
                        <script>passToJS(<%- JSON.stringify(reports) %>);</script>
                        <% reports.forEach((report, index) => { %>
                            <li id="student<%= index %>" onclick="studentSelected(this, <%= JSON.stringify(report) %>, <%= index %>)"><%= report.name %></li>
                        <% }) %>
                    <% } else { %>
                        <li>No Students</li>
                    <% } %>
                    </ul>
                    <div id="sendEmailButton" class="stepButton center marginBottom20 accent2-BG" onclick="sendEmail();">
                        <p class="centerText lightPadding">Send Emails</p>
                    </div>
                </div>
            </div>
        </div>
        <script>initEmailerVariables();
        
        $(document).ready(function(){
            $('select').selectmenu();
        })
            
        </script>

        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script>

            Quill.register(Quill.import('attributors/style/size'), true);
            Quill.register(Quill.import('attributors/style/direction'), true);
            Quill.register(Quill.import('attributors/style/align'), true);

            var summaryQuill = new Quill('#summary', {
                modules: {
                    toolbar: '#summary-toolbar-container'
                },
                placeholder: 'Daily summary..',
                theme: 'snow'
            })
            var snackQuill = new Quill('#snack', {
                modules: {
                    toolbar: '#snack-toolbar-container'
                },
                placeholder: 'Snack info..',
                theme: 'snow'
            })
            var lunchQuill = new Quill('#lunch', {
                modules: {
                    toolbar: '#lunch-toolbar-container'
                },
                placeholder: 'Lunch info..',
                theme: 'snow'
            })
            // var reviewQuill = new Quill('#review', {
            //     modules: {
            //         toolbar: '#toolbar-container'
            //     },
            //     placeholder: 'Daily summary..',
            //     theme: 'snow'
            // })

            summaryQuill.setContents(<%- summary %>);
            snackQuill.setContents(<%- snack %>)
            lunchQuill.setContents(<%- lunch %>)

            function updateDailyInfo() {
                console.log(summaryQuill.container.firstChild.innerHTML);

                pushSummary(JSON.stringify(summaryQuill.getContents()));
                pushAmSnack(JSON.stringify(snackQuill.getContents()));
                pushLunch(JSON.stringify(lunchQuill.getContents()));
            }


        </script>

        <script>
            var listOfReminders = <%- JSON.stringify(reminders) %>;
            var numRemindersShown = 0;
            function addReminder(){
                numRemindersShown++;
                var reminders = document.getElementById('reminders');
                var select = document.createElement("select");
                for(var i = 0; i < listOfReminders.length; i++){
                    var option = document.createElement("option");
                    option.text = listOfReminders[i].title;

                    select.appendChild(option);
                }

                var label = document.createElement("label");
                label.innerHTML = "Reminder " + numRemindersShown;
                label.classList = "darkText";
                var icon = document.createElement("i");
                icon.classList = "fas fa-minus accent4-text marginRight10 hoverable";
                icon.onclick = function(){li.parentNode.removeChild(li)};
                var div = document.createElement("div");
                div.classList = "flex spaceBetween flexAlignCenter";
                var li = document.createElement("li");
                li.classList = "flex spaceBetween flexAlignCenter mediumPadding";
                div.appendChild(icon);
                div.appendChild(label);
                li.appendChild(div);
                li.appendChild(select);
                reminders.appendChild(li);
                
                $('select').selectmenu();
            }

            function behaviorNote(behavior){
                console.log(behavior);
            }

            // When the user clicks anywhere outside of the form window, close it
            window.onclick = function(event) {
                if (event.target == formElement) {
                    formElement.style.display = "none";
                }
            }
        </script>
        
        <script>
            //template functions (page 1)
            function pushSummary(summary_HTML) {
                theUrl = window.location.href + '/push-summary';
                // data = "text=" + summary_element.innerHTML;
                data = "text=" + summary_HTML;
                // data = "text=" + summary_element.value;
                httpPostAsync(theUrl, data, null);
            }

            function pushAmSnack(snack_HTML) {
                theUrl = window.location.href + '/push-am-snack';
                data = "text=" + snack_HTML;
                httpPostAsync(theUrl, data, null);
            }

            function pushLunch(lunch_HTML) {
                theUrl = window.location.href + '/push-lunch';
                data = "text=" + lunch_HTML;
                httpPostAsync(theUrl, data, null);
            }
        </script>

        <script>
            function sendEmail(){
                var theUrl = window.location.href+'/send';
                console.log(summaryQuill.container.firstChild.innerHTML);
                var data = `summaryHTML=${summaryQuill.container.firstChild.innerHTML}&snackHTML=${snackQuill.container.firstChild.innerHTML}&lunchHTML=${lunchQuill.container.firstChild.innerHTML}`;
                httpPostAsync(theUrl, data, doNothing);

            }
        </script>
    </body>
</html>