<!DOCTYPE html>
<html>
    <nav><%- include header.ejs %></nav>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/emailer.css' />
        <link rel="stylesheet" href="/stylesheets/prettydropdowns.css">
        <script src="/javascripts/emailerScripts.js"></script>
        <script src="/javascripts/utilityScripts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/javascripts/jquery.prettydropdowns.js"></script>

 

    </head>
    <body>
        <div id="mainEmailerContainer" class="emailerContainer">
            <div id="stepOne" class="stepOne">
                <p class="title yellow3-BG">Step 1: Email Template</p>
                <ul class="verticalList">
                    <li>
                        <label for="summary">Summary</label>
                        <textarea name="summary"></textarea>
                    </li>
                    <li>
                        <label for="amSnack">AM Snack</label>
                        <textarea name="amSnack"></textarea>
                    </li>
                    <li>
                        <label for="lunch">Lunch</label>
                        <textarea name="lunch"></textarea>
                    </li>
                </ul>

                <div class="bottomSection">
                    <ul class="verticalList">
                        <li>
                            <label for="rem1">Reminder 1</label>
                            <select name="rem1">
                                <option>Option 1</option>
                                <option>Option 2</option>
                            </select>
                        </li>
                        <li>
                            <label for="rem2">Reminder 2</label>
                            <select name="rem2">
                                <option>Option 1</option>
                                <option>Option 2</option>
                            </select>
                        </li>
                    </ul>
                    <div class="nextStepButton green3-BG" onclick="toNextStep()">
                        <p>Next</p>
                        <div class="buttonIcon green4-BG">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </div>

                </div>
            </div>

            <div id="stepTwo" class="stepTwo">
                <div class="leftPanel">
                    <p id="stepTwoTitle" class="title blue2-BG"></p>
                    <div class="twoColumns">
                        <div>
                            <p class="listTitle">Activities</p>
                            <ul id="activitiesList" class="activitiesList">
                                
                            </ul>
                        </div>
                        <select>

                        </select>
                    </div>
                    <div class="bottomSection">
                        <div class="nextStepButton green3-BG" onclick="toNextStep()">
                            <p>Next</p>
                            <div class="buttonIcon green4-BG">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightPanel">
                    <ul id="listOfStudents" class="studentsList" >
                    <% if (reports.length > 0) { %>
                        <script>passToJS(<%- JSON.stringify(reports) %>);</script>
                        <% reports.forEach((report, index) => { %>
                            <li id="student<%= index %>" onclick="showStudentData(this, <%= JSON.stringify(report) %>, <%= index %>)"><%= report.name %></li>
                        <% }) %>
                    <% } else { %>
                        <li>No Students</li>
                    <% } %>
                    </ul>
                </div>

                
            </div>

            <div id="stepThree" class="stepThree">
                <div class="leftPanel">

                </div>
                <div class="rightPanel">
                </div>
            </div>
            
        </div>
        <script>initEmailerVariables();
        
        $('select').prettyDropdown({
            height: 40
        })
        </script>
    </body>
</html>