<!DOCTYPE html>
<html>
    <nav><%- include header.ejs %></nav>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/emailer.css' />
        <link rel='stylesheet' href='/stylesheets/form.css' />
        <link rel='stylesheet' href='/stylesheets/ulList.css' />
        <script src="/javascripts/emailerScripts.js"></script>
        <script src="/javascripts/utilityScripts.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        

        <script>
            function fillSelect(id, list){
                var op = 'op';
                var select = document.getElementById(id).getElementsByTagName("select")[0];
                var len = Object.keys(list).length;
                for(var i = 0; i < len; i++){
                    var option = document.createElement("option");
                    if(i == 0){
                        select.append(option);
                    }
                    else{
                        op = 'op' + i;
                        option.text = list[op]; 
                        select.appendChild(option);
                    }
                }
            }
            
        </script>

    </head>
    <body>
        <div id="mainEmailerContainer" class="flexContainer spaceAround flexAlignCenter">
            <i id="backButton" onclick="toPreviousStep()" class="fas fa-chevron-left icon hugeFont hoverable displayNone"></i>
            <div id="stepOne" class="flexCenter flexColumn borderBox content-BG borderRadiusMedium width80">
                <p class="title accent2-BG">Step 1: Email Template</p>
                <div class="veryHeavyPadding">
                    <ul class="flex flexColumn">
                        <li class="marginBottom10">
                            <label for="summary">Summary</label>
                            <textarea id="summary_text_area" onkeyup="textAreaAdjust(this)" name="summary" onchange="pushSummary(this)"></textarea>
                        </li>
                        <li class="marginBottom10">
                            <label for="snack">AM Snack</label>
                            <textarea id="snack_text_area" onkeyup="textAreaAdjust(this)" name="amSnack" onchange="pushAmSnack(this)"></textarea>
                        </li>
                        <li class="marginBottom10">
                            <label for="lunch">Lunch</label>
                            <textarea id="lunch_text_area" onkeyup="textAreaAdjust(this)" name="lunch" onchange="pushLunch(this)"></textarea>
                        </li>
                        <script>
                            document.getElementById("summary_text_area").innerHTML = "<%- summary %>";
                            document.getElementById("snack_text_area").innerHTML = "<%- snack %>";
                            document.getElementById("lunch_text_area").innerHTML = "<%- lunch %>";
                        </script>
                    </ul>

                    <div id="remindersContainer" class="flexContainer borderRadiusMedium marginTop30 relative flexColumn flexCenter border1px darkGray3-border lightGray1-BG heavyPadding width40">          
                        <div class="flex spaceBetween marginBottom10 width100 flexAlignCenter">
                            <p class="mediumFont noMargin darkText">Reminders</p>
                            <a class="addReminder" onclick="addReminder()"><i class="fas fa-plus"></i></a>
                        </div>
                        <ul id="reminders" class="flex flexColumn spaceBetween width100">

                        </ul>
                    </div>
                </div>
                
            </div>

            <div id="stepTwo" class="contentWithSidebar displayNone">
                <div class="width70 content-BG borderRadiusMedium"> <!-- Left column -->
                    <div id="stepTwoTitle" class="title accent1Light-BG flex spaceBetween">
                        <p></p>
                        <div class="stepButton green2-BG" onclick="openReview()">
                            <p>Review</p>
                        </div>
                    </div>

                    <div id="reviewForm" class="formWindow">
                        <div class="formWindow-content">
                          <span class="close" onclick="closeForm()">&times;</span>
                          <ul>
                            <li class="formTitle"></li>
                            <li><textarea onkeyup="textAreaAdjust(this)" id="summaryText"></textarea></li>
                            <li></li>
                            <li class="flexCenter"><a class="formSubmitButton" onclick="studentApproved(this)">Approve</a></li>
                          </ul>
                        </div>
                    </div>

                    <div class="content"> <!-- activities and dropdowns -->
                        <div class="flex spaceBetween">
                            <div id="activities" class="width60">
                                <p class="mediumFont darkText marginBottom20">Activities</p>
                                <ul id="activitiesList" class="ulList darkText width50">
                                    <li>hello</li>
                                    <li>goodbye</li>
                                </ul>
                            </div>

                            <!-- Behavior dropdowns -->
                            <div id="" class="flex flexColumn flexCenter heavyPadding width70">
                                <% behaviors.forEach((behavior, index) => { %>
                                    <div id="<%= behavior.name %>" class="flex flexAlignCenter spaceBetween marginBottom10 flexWrap">
                                        <label for="<%= behavior.name %>"><%= behavior.name %></label>
                                        
                                        <select name="<%= behavior.name %>" class="width20">
                                        </select>
                                        
                                        
                                    </div>
                                    <script>fillSelect('<%= behavior.name %>', <%- JSON.stringify(behavior) %>);</script>
                                        
                                <% }) %>
                            </div>
                        </div>
                        <div class="flexContainer flexRight">
                            <div id="saveButton" class="stepButton blue2-BG" onclick="studentSaved(this, <%= JSON.stringify(behaviors) %>);">
                                <p>Save</p>
                                <div class="buttonIcon blue3-BG">
                                    <i class="fas fa-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
                
                <!-- Right column (students) -->
                <div class="sidebar width20 content-BG">
                    <ul id="listOfStudents" class="studentsList" >
                    <% if (reports.length > 0) { %>
                        <script>passToJS(<%- JSON.stringify(reports) %>);</script>
                        <% reports.forEach((report, index) => { %>
                            <li id="student<%= index %>" onclick="studentSelected(this, <%= JSON.stringify(report) %>, <%= index %>)"><%= report.name %></li>
                        <% }) %>
                    <% } else { %>
                        <li>No Students</li>
                    <% } %>
                    </ul>
                </div>
                    
            </div>

            <i onclick="toNextStep()" id="nextButton" class="fas fa-chevron-right icon hugeFont hoverable"></i>
        </div>
        <script>initEmailerVariables();
        
        $(document).ready(function(){
            $('select').selectmenu();
        })
            
        </script>

        <script>
            var listOfReminders = <%- JSON.stringify(reminders) %>;
            var numRemindersShown = 0;
            function addReminder(){
                numRemindersShown++;
                var reminders = document.getElementById('reminders');
                var select = document.createElement("select");
                for(var i = 0; i < listOfReminders.length; i++){
                    var option = document.createElement("option");
                    option.text = listOfReminders[i].title;

                    select.appendChild(option);
                }

                var label = document.createElement("label");
                label.innerHTML = "Reminder " + numRemindersShown;
                label.classList = "darkText";
                var li = document.createElement("li");
                li.classList = "flex spaceBetween flexAlignCenter lightPadding";
                li.appendChild(label);
                li.appendChild(select);
                reminders.appendChild(li);
                
                $('select').selectmenu();
            }


            // When the user clicks anywhere outside of the form window, close it
            window.onclick = function(event) {
                if (event.target == formElement) {
                    formElement.style.display = "none";
                }
            }
        </script>
        
        <script>
            //template functions (page 1)
            function pushSummary(summary_element) {
                theUrl = window.location.href + '/push-summary';
                data = "text=" + summary_element.value;
                httpPostAsync(theUrl, data, null);
            }

            function pushAmSnack(am_snack_element) {
                theUrl = window.location.href + '/push-am-snack';
                data = "text=" + am_snack_element.value;
                httpPostAsync(theUrl, data, null);
            }

            function pushLunch(lunch_element) {
                theUrl = window.location.href + '/push-lunch';
                data = "text=" + lunch_element.value;
                httpPostAsync(theUrl, data, null);
            }
        </script>
    </body>
</html>