<!DOCTYPE html>
<html lang="en">

<body>
    <h1><%- header %></h1>
    <h2>Summary</h2>
        <%- summary %>
    <h2>Snack</h2>
        <%- snack %>
    <h2>Lunch</h2>
        <%- lunch %>

    <h2>PERSONALIZED SECTION</h2>
    <h3>Activities:</h3>
    <% activities.forEach((activity, index) => { %>
        <label><%= activity.ActivityName %></label>
    
        <% }) %>
    <h3>Behaviors:</h3>
    <% behaviors.forEach((behavior, index) => { %>
        <label><%= behavior.name %></label>
        <label><%= behavior.selection %></label>
        <label><%= behavior.note %></label>
    
        <% }) %>
        
    <h1><%- footer %></h1>
</body>
</html>