<!DOCTYPE html>
<html lang="en">

<body>
    <div>
    <%- header %>
    </div>
    <div>
    <h2>Summary</h2>
        <%- summary %>
    </div>
        <div>
    <h2>Snack</h2>
        <%- snack %>
    </div>
        <div>
    <h2>Lunch</h2>
        <%- lunch %>
    </div>
    <h2>PERSONALIZED SECTION</h2>
    <div>
    <h3>Activities:</h3>
    <% activities.forEach((activity, index) => { %>
        <label><%= activity.ActivityName %></label>
    
        <% }) %>
    </div>
    <div>
    <h3>Behaviors:</h3>
    <% behaviors.forEach((behavior, index) => { %>
        <label><%= behavior.name %></label>
        <label><%= behavior.selection %></label>
        <label><%= behavior.note %></label>
    
        <% }) %>
    </div>
    <div>
    <%- footer %>
    </div>
</body>
</html>