<!DOCTYPE html>
<html>
    <head>
        <nav><%- include header.ejs %></nav>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      </head>
      <body> 
            <% reports.forEach((report, index) => { %>

                  <h1><%= report.name %></h1>
                  <h1><%= report.emails %></h1>
                  <h1><%= report.status %></h1>
                  <h1><%= report.message %></h1>


            <% }) %>

      </body>
</html>