<!DOCTYPE html>
<html>
    <nav><%- include header.ejs %></nav>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/emailer.css' />
        <script src="/javascripts/emailerScripts.js"></script>
        <script src="/javascripts/utilityScripts.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        

        <script>
            function fillSelect(id, list){
                var op = 'op';
                var select = document.getElementById(id).getElementsByTagName("select")[0];
                var len = Object.keys(list).length;
                for(var i = 0; i < len; i++){
                    var option = document.createElement("option");
                    if(i == 0){
                        select.append(option);
                    }
                    else{
                        op = 'op' + i;
                        option.text = list[op]; 
                        select.appendChild(option);
                    }
                }
            }
            
            function fillReminders(remindersList){
                var NUM_REMINDERS = 4;
                var reminders = document.getElementById('reminders');
                var select = document.createElement('select');

                for(var i = 0; i < remindersList.length; i++){
                    var option = document.createElement('option');

                    option.text = remindersList[i].title;
                    select.appendChild(option);
                }

                for(var i = 1; i <= NUM_REMINDERS; i++){
                    var li = document.createElement('li');
                    li.classList = "flex spaceBetween flexAlignCenter heavyPadding";
                    var label = document.createElement('label');
                    label.innerHTML = "Reminder " + i;
                    li.append(label);
                    li.append(select);
                    reminders.append(li);
                }

                
            }
        </script>

    </head>
    <body>
        <div id="mainEmailerContainer" class="emailerContainer flex spaceAround">
            <div id="backButton" class="sideButton" onclick="toPreviousStep()"><i class="fas fa-chevron-left"></i></div>
            <div id="stepOne" class="flexCenter flexColumn lightGray2-BG borderRadiusMedium shadowMedium width80">
                <p class="title green4-BG">Step 1: Email Template</p>

                <div class="heavyPadding">
                    <ul class="flex flexColumn">
                        <li>
                            <label for="summary">Summary</label>
                            <textarea name="summary"></textarea>
                        </li>
                        <li>
                            <label for="amSnack">AM Snack</label>
                            <textarea name="amSnack"></textarea>
                        </li>
                        <li>
                            <label for="lunch">Lunch</label>
                            <textarea name="lunch"></textarea>
                        </li>
                    </ul>

                    <ul id="reminders" class="flex flexColumn flexCenter heavyPadding width40">          
                    </ul>
                    <script>fillReminders(<%- JSON.stringify(reminders) %>)</script>   
                
                </div>
                
            </div>

            <div id="stepTwo" class="flex spaceAround displayNone width100">
                <div class="width70 lightGray2-BG borderRadiusMedium"> <!-- Left column -->
                    <div class="relative title blue2-BG flex spaceBetween">
                        <p id="stepTwoTitle" class=""></p>
                        <div class="stepButton green2-BG" onclick="studentApproved(this)">
                            <p>Approve</p>
                            <div class="buttonIcon green3-BG">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </div>
                    
                    <div class="heavyPadding"> <!-- activities and dropdowns -->
                        <div class="flex spaceBetween">
                            <div id="activities" class="width60">
                                <p class="listTitle">Activities</p>
                                <ul id="activitiesList" class="activitiesList">
                                    
                                </ul>
                            </div>

                            <div id="" class="flex flexColumn flexCenter heavyPadding">
                                <% behaviors.forEach((behavior, index) => { %>
                                    <div id="<%= behavior.name %>" class="flex flexAlignCenter spaceBetween marginBottomSmall">
                                        <label for="<%= behavior.name %>"><%= behavior.name %></label>
                                        <select name="<%= behavior.name %>" class="pretty-classic">
                                        </select>
                                        
                                    </div>
                                    <script>fillSelect('<%= behavior.name %>', <%- JSON.stringify(behavior) %>)</script>
                                        
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Right column (students) -->
                <div class="lightGray2-BG heavyPadding width20 borderRadiusMedium">
                    <ul id="listOfStudents" class="studentsList" >
                    <% if (reports.length > 0) { %>
                        <script>passToJS(<%- JSON.stringify(reports) %>);</script>
                        <% reports.forEach((report, index) => { %>
                            <li id="student<%= index %>" onclick="showStudentData(this, <%= JSON.stringify(report) %>, <%= index %>)"><%= report.name %></li>
                        <% }) %>
                    <% } else { %>
                        <li>No Students</li>
                    <% } %>
                    </ul>
                </div>
                    
            </div>

            <div id="stepThree" class="flex spaceAround displayNone width100">
                <div class="width70 lightGray2-BG borderRadiusMedium">

                </div>
                <div class="lightGray2-BG heavyPadding width20 borderRadiusMedium">
                    <ul id="listOfStudents" class="studentsList" >
                    <% if (reports.length > 0) { %>
                        <script>passToJS(<%- JSON.stringify(reports) %>);</script>
                        <% reports.forEach((report, index) => { %>
                            <li id="student<%= index %>" onclick="showStudentData(this, <%= JSON.stringify(report) %>, <%= index %>)"><%= report.name %></li>
                        <% }) %>
                    <% } else { %>
                        <li>No Students</li>
                    <% } %>
                    </ul>
                </div>
            </div>
            <div id="nextButton" onclick="toNextStep()" class="sideButton"><i class="fas fa-chevron-right"></i></div>
        </div>
        <script>initEmailerVariables();
        
        $(document).ready(function(){
            $('select').selectmenu();
        })
            
        </script>

        <script>
            
                

        </script>
        
    </body>
</html>