<!DOCTYPE html>
    <ul id="students" class="blockList">
        <% students.forEach((student, index) => { %>
            <% studentSpl = student.StudentName.split(" "); %>
            <% if (student.DayType == 0) {%>
            <li class="halfDayStudent" onclick="studentSelected(this, <%= student.StudentId %>)">
            <% } else { %>
            <li onclick="studentSelected(this, <%= student.StudentId %>)">
            <% } %>
            
                <div class="blockContainer">
                    <table>
                    <!-- Image below is just to test. Old text:
                        /assets/img/<%= student.Img %> -->
                        <th>
                            <img src="/uploads/images/<%- student.Img %>" onerror="this.src='/uploads/images/default.png'">
                        </th>
                        <tr class="name">
                            <td><%= studentSpl[0] %>
                            <br /><%= studentSpl[1] %></td>
                        </tr>
                    </table>
                    
                </div>
                <div class="checkmarkOverlay">
                    <a class="checkmark" title="Select Student">&#10003</a>
                </div>
        </li>
        <% }) %>