<!DOCTYPE html>
<html>
    <head>
        <%- include headerlinks.ejs %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/tabs.css' />
        <link rel='stylesheet' href='/stylesheets/profile.css' />
        <link rel='stylesheet' href='/stylesheets/form.css' />
        <link rel='stylesheet' href='/stylesheets/switch.css' />
        <link rel="stylesheet" href="/stylesheets/prettydropdowns.css">
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/javascripts/utilityScripts.js"></script>
        
    </head>
    <body>
      <div class="page-with-sidemenu">
        <div onclick="$(this).toggleClass('active'); toggleBodyOverflow();" class="side-header-mobile-burger">
          <i class="fa fa-bars"></i>
        </div>
        <%- include header.ejs %>
        <div class="content-with-side-header">
          <!-- Profile container -->
          <div class="flex flexColumn flexAlignCenter width70 center width90Mobile">
            <!-- Picture/name/birthday/schedule -->
            <div class="flexCollapseMobile heavyPadding margin10 borderRadiusSmall minWidth450px width92 light-content-BG width100Mobile">
              <!-- Picture -->
              <div class="flex flexColumn width30 width100Mobile padding10px">
                <div class="flex flexCenter width80 center width100Mobile">
                  <label for="file-input" class="imageContainer width100 tooltip">
                    <div class="edit-image-tooltip">
                      <span class="tooltiptext">Edit Image</span>
                    </div>
                    <img src="/uploads/images/<%- student.Img %>" onerror="this.src='/uploads/images/default.png'">
                  </label>
                  <form action="<%-student.StudentId%>/upload" method="POST" enctype="multipart/form-data">
                    <div class="file-field input-field hiddenUpload">
                      <input id="file-input" name="student-image-id" type="file" onchange="form.submit()">
                    </div>
                  </form>
                </div>

                <div class="flex spaceBetween width80 center marginTop30 marginBottom10">
                  <a onclick="window.location.href = '/admin'" class="font25px theme-color1-BG padding15px">
                    <i class="light-text fas fa-arrow-left"></i>
                  </a>

                  <a onclick="deleteStudent(this)" class="font25px theme-color4-light-BG padding15px">
                    <i class="light-text fas fa-trash-alt"></i>
                  </a>
                  <a onclick="saveStudent()" class="font25px theme-color2-light-BG padding15px">
                    <i class="light-text far fa-save"></i>
                  </a>
                </div>
              </div>
              
              
              <!-- Name, birthday, schedule -->
              <div class="width50 width100Mobile centerFlexMobile flex flexColumn spaceBetween padding15px">
                <h2 class="largeFont marginBottom20"><%= student.StudentName %></h2>
                <h2 class="font15px marginBottom10">Birthdate</h2>
                <input id="studentbirthday" value="<%- student.Birthdate %>" style="display: none;"></input>
                
                <div class="flex width100 centerFlexMobile font15px marginBottom10"> <!-- Birthday -->
                  <div class="inputWithIcon width20 white-BG marginRight10">
                    
                    <input id="month" placeholder="MM" maxlength="2"></input>
                  </div>
                  <div class="inputWithIcon width20 white-BG marginRight10">
                    <input id="day" placeholder="DD" maxlength="2"></input>
                  </div>
                  <div class="inputWithIcon width30 white-BG">
                    <input id="year" placeholder="YYYY" maxlength="4"></input>
                  </div>
                </div> <!-- End birthday -->
                <h2 class="font15px marginBottom10">Schedule</h2>
                <ul id="schedule" class="selectableList flexWrap width70 flexCenter marginBottom10">
                  <li id="mon" value="<%- student.Monday %>" onclick="weekdaySelected(this)"><a>M</a></li>
                  <li id="tue" value="<%- student.Tuesday %>" onclick="weekdaySelected(this)"><a>T</a></li>
                  <li id="wed" value="<%- student.Wednesday %>" onclick="weekdaySelected(this)"><a>W</a></li>
                  <li id="thu" value="<%- student.Thursday %>" onclick="weekdaySelected(this)"><a>TH</a></li>
                  <li id="fri" value="<%- student.Friday %>" onclick="weekdaySelected(this)"><a>F</a></li>
                </ul>

                <div class="centerText marginTop20">
                  <form action="<%-student.StudentId%>/delete-student" id="delete-student-form" method="POST">
                    <label><font color="green"><%- messages.upload_successful %></font></label>
                    <label><font color="green"><%- messages.changes_saved %></font></label>
                    <label><font color="red"><%- messages.changes_error %></font></label>
                    <label><font color="red"><%- messages.upload_error %></font></label>
                  </form>
                </div>
                
                
              </div><!-- End name/birthday/schedule -->
            </div> <!-- End picture/name/birthday/schedule  -->

            <!-- Info Panels -->
            <div class="flex spaceBetween flexCollapseMobile width100">
              <!-- Guardians -->
              <div id="infoPanel" class="mobilePanel heavyPadding margin10 borderRadiusSmall hideOverflow minWidth450px width60 light-content-BG width100Mobile">
                <div class="flexContainer spaceAround flexWrap">
                  <div class="width40 width100Mobile center padding15px">
                    <ul class="marginBelowChildren10">
                      <li class="dark-text largeFont marginBottom10">Guardian #1</li>
                      <li><input name="guardian1Name" type="text" id="guardian1Name" placeholder="Guardian Name" value="<%- student.RelativeName %>"></li>
                      <li><input name="guardian1Email" type="text" id="guardian1Email" placeholder="Guardian Email" value=<%- student.RelativeEmail %>></li>
                      <li><input name="guardian1Number" type="text" id="guardian1Number" placeholder="Guardian's Phone Number" value=<%- student.RelativePhone %>></li>
                    </ul>
                  </div>
                  
                  <div class="width40 width90Mobile center padding15px">
                    <ul class="marginBelowChildren10">
                      <li class="dark-text largeFont marginBottom10">Guardian #2</li>
                      <li><input name="guardian2Name" type="text" id="guardian2Name" placeholder="Guardian Name" value="<%- student.RelativeName2 %>"></li>
                      <li><input name="guardian2Email" type="text" id="guardian2Email" placeholder="Guardian Email" value=<%- student.RelativeEmail2 %>></li>
                      <li><input name="guardian2Number" type="text" id="guardian2Number" placeholder="Guardian's Phone Number" value=<%- student.RelativePhone2 %>></li>
                    </ul>
                  </div>

                  
                </div>
              </div> <!-- End Guardians -->

              <!-- -------------------- EXTRA INFO PANEL --------------------- -->
              <div id="extraInfoPanel" class="mobilePanel width35 light-content-BG borderRadiusSmall hideOverflow margin10 width100Mobile">
                <div class="flexContainer flexColumn spaceAround flexWrap padding15px">
                  <div class="flex flexColumn width90 center padding15px">
                    <p>Allergies</p>
                    <textarea id="allergies"><%= student.Allergies %></textarea>
                  </div>
                  <div class="flex flexColumn width90 center padding15px">
                    <p>Special Accommodations</p>
                    <textarea id="accommodations"><%= student.Accommodation %></textarea>
                  </div>
                </div>
              </div> <!-- End extra info panel-->
            </div> <!-- End info panels -->
          </div> <!-- End profile container -->
        </div> <!-- End side header content container -->
      </div> <!-- End page with side menu container -->
    </body>
  
    <script>
      var days = document.getElementById("schedule").getElementsByTagName("li");
      var length = days.length;

      // Sets days that are selected to selected in the Schedule tab
      $(document).ready(function(){
        for (var i = 0; i < length; i++){
          val = days[i].getAttribute("value");
          console.log(val);
          if(val == 1){
            days[i].classList.add("full-day");
          }
          else if(val == 2){
            days[i].classList.add("half-day");
          }
        }  

        var birthday = new Date(document.getElementById('studentbirthday').value);
        document.getElementById('month').value = birthday.getMonth() + 1;
        document.getElementById('day').value = birthday.getDate();
        document.getElementById('year').value = birthday.getFullYear();
      });



      function saveStudent(){
        
        var data = 
          `studentName=${document.getElementById('studentName').value}` +
          `&mon=${selectedDayType(document.getElementById("mon"))}` +
          `&tue=${selectedDayType(document.getElementById("tue"))}` +
          `&wed=${selectedDayType(document.getElementById("wed"))}` +
          `&thu=${selectedDayType(document.getElementById("thu"))}` +
          `&fri=${selectedDayType(document.getElementById("fri"))}` +
          `&fullDayFlag=${0}` +
          `&birthdate=${document.getElementById("year").value}/${document.getElementById("month").value}/${document.getElementById("day").value}` +
          `&guardian1Name=${document.getElementById('guardian1Name').value}` +
          `&guardian1Email=${document.getElementById('guardian1Email').value}` +
          `&guardian1Number=${document.getElementById('guardian1Number').value}` +
          `&guardian2Name=${document.getElementById('guardian2Name').value}` +
          `&guardian2Email=${document.getElementById('guardian2Email').value}` +
          `&guardian2Number=${document.getElementById('guardian2Number').value}` +
          `&allergies=${document.getElementById('allergies').value}` +
          `&accommodations=${document.getElementById('accommodations').value}`;
        
        httpPostAsync(`${window.location.href}/save-changes`, data, reloadIt);

      }

      function deleteStudent(button){
        if(button.classList.contains("deleteButtonConfirm")){
          form = document.getElementById("delete-student-form");
          form.submit();
        }

        else {
          button.classList.add("deleteButtonConfirm");
          button.innerHTML = "Are you sure?";
        }


        window.onclick = function(event) {
          if (event.target != button) {
            button.classList.remove("deleteButtonConfirm");
            button.innerHTML = "Delete Student";
          }
        }
      }

      function loadCheckBox(checkBox, val){
        if(val == 1){
          checkBox.checked = true;
        }
        else checkBox.checked = false;
      }
    </script>
    
</html>
