<!DOCTYPE html>
<html>
    <head>
        <nav><%- include header.ejs %></nav>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/tabs.css' />
        <link rel='stylesheet' href='/stylesheets/profile.css' />
        <link rel='stylesheet' href='/stylesheets/form.css' />
        <link rel='stylesheet' href='/stylesheets/switch.css' />
        <link rel="stylesheet" href="/stylesheets/prettydropdowns.css">
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/javascripts/utilityScripts.js"></script>
        <script src="/javascripts/birthdayDropdown.js"></script>
        <script src="/javascripts/jquery.prettydropdowns.js"></script>
        
    </head>
    <body>

      <div class="profileContainer">
        <div class="tabsSection">
          <div id="tabs">
            <ul class="tabs">
              <li><a href="#tabs-1">Info</a></li>
              <li><a href="#tabs-2">Schedule</a></li>
              <li><a href="#tabs-3">Statistics</a></li>
            </ul>
            <div id="tabs-1" class="tabContent">
              <table class="infoTable">
                <tr>
                  <td>
                    <ul>
                      <li class="formTitle">Guardian #1</li>
                      <li><input name=”notASearchField” type="text" id="guardian1Name" placeholder="Guardian Name" value=<%- student.RelativeName %>></li>
                      <li><input name=”notASearchField” type="text" id="guardian1Email" placeholder="Guardian Email" value=<%- student.RelativeEmail %>></li>
                      <li><input name=”notASearchField” type="text" id="guardian1Number" placeholder="Guardian's Phone Number" value=<%- student.RelativePhone %>></li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li class="formTitle">Guardian #2</li>
                      <li><input name=”notASearchField” type="text" id="guardian2Name" placeholder="Guardian Name" value=<%- student.RelativeName2 %>></li>
                      <li><input name=”notASearchField” type="text" id="guardian2Email" placeholder="Guardian Email" value=<%- student.RelativeEmail2 %>></li>
                      <li><input name=”notASearchField” type="text" id="guardian2Number" placeholder="Guardian's Phone Number" value=<%- student.RelativePhone2 %>></li>
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
            
            <div id="tabs-2" class="tabContent">
              <div class="fullDay">
                <label for="fullDay" class="switchLabel">Full Day</label>
                <div>
                  <label class="switch">
                    <input type="switchColumn" id="fullDay" name="fullDay" onload="loadCheckBox(this, <%= student.DayType %>)">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
              <ul id="schedule" class="week">
                <li id="mon" value="<%- student.Monday %>" onclick="weekdaySelected(this)"><a>M</a></li>
                <li id="tue" value="<%- student.Tuesday %>" onclick="weekdaySelected(this)"><a>T</a></li>
                <li id="wed" value="<%- student.Wednesday %>" onclick="weekdaySelected(this)"><a>W</a></li>
                <li id="thu" value="<%- student.Thursday %>" onclick="weekdaySelected(this)"><a>T</a></li>
                <li id="fri" value="<%- student.Friday %>" onclick="weekdaySelected(this)"><a>F</a></li>
              </ul>
            </div>

            <div id="tabs-3" class="tabContent">
              <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
            </div>
          </div>
        </div>

        

        <div class="profileSection">
          <ul class="profileList">
            <li>
              <label for="file-input" class="imageContainer tooltip">
                <div class="edit-image-tooltip">
                  <span class="tooltiptext">Edit Image</span>
                <img src="/uploads/images/<%- student.Img %>" onerror="this.src='/uploads/images/default.png'">
              </label>
              <form action="<%-student.StudentId%>/upload" method="POST" enctype="multipart/form-data">
                <div class="file-field input-field hiddenUpload">
                  <input id="file-input" name="myImage" type="file" onchange="form.submit()">
                  </div>
              </form>
            </li>
            <li>
              <p1><font color="red"><%- upload_error_message %></font></p1>
              <table class="studentTable">
                <tr>
                  <td class="width20"><label>NAME</label></td>
                  <td class="width100 left"><input class="hiddenInput" id="studentName" value="<%- student.StudentName %>"></td>
                </tr>
                <tr>
                  <td class="width20"><label>BIRTHDAY</label></td>
                  <td class="width80">
                    <input id="studentbirthday" value="<%- student.Birthdate %>" style="display: none;"></input>
                    <div class="flexRowSpaceAround">
                      <select id="year" class="pretty-classic" onchange="genDays();">
                      </select>

                      <select id="month" class="pretty-classic" onchange="genDays();">
                        <option value="01">Jan</option>
                        <option value="02">Feb</option>
                        <option value="03">Mar</option>
                        <option value="04">Apr</option>
                        <option value="05">May</option>
                        <option value="06">Jun</option>
                        <option value="07">Jul</option>
                        <option value="08">Aug</option>
                        <option value="09">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                      </select>
        
                      <select id="day" class="pretty-classic">
                      </select>
                    </div>
                  </td>
                </tr>
              </table>
            </li>
            <li class="profileButtons">
              <a onclick="saveStudent()" class="saveButton">Save Changes</a>
              <a onclick="deleteStudent(this)" class="deleteButton">Delete Student</a>
            </li>
          </ul>
        </div>
      </div>
    </body>


    <script>
      $( function() {
        $( "#tabs" ).tabs();
      } );
    </script>

    <script>
      var days = document.getElementById("schedule").getElementsByTagName("li");
      var length = days.length;

      // Sets days that are selected to selected in the Schedule tab
      $(document).ready(function(){
        for (var i = 0; i < length; i++){
          val = days[i].getAttribute("value");
          if(val == 1){
            days[i].classList += " selectedDay";
          }
          else {
            days[i].classList.remove("selectedDay");
          }
        }  
      });

      $dropdown = $('.pretty-classic').prettyDropdown({
        classic: true,
        height: 30,
        hoverIntent: -1
      });
      
      function saveStudent(){
        var temp = window.location.href.split('/');
        var theUrl = temp[0];
        for(var i = 1; i < temp.length - 2;++i){
          theUrl = theUrl + '/' + temp[i];
        }

        var theUrl = theUrl + '/savestudent';
        var birthdate = document.getElementById("birthdateyear").value + "-" + document.getElementById("birthdatemonth").value + "-" + document.getElementById("birthdateday").value;
        var fullDay = convertBoolToInt(document.getElementById("fullDay").checked);
        var data = "id=" + temp[temp.length - 1] +
          "&mon=" + isDaySelected("mon") + 
          "&tue=" + isDaySelected("tue") + 
          "&wed=" + isDaySelected("wed") + 
          "&thu=" + isDaySelected("thu") + 
          "&fri=" + isDaySelected("fri") + 
          "&birthday=" + birthdate + "&fullday=" + fullDay + "&name=" + document.getElementById("studentName").value +
          "&G1Name=" + document.getElementById("guardian1Name").value + 
          "&G1EMail=" + document.getElementById("guardian1Email").value + 
          "&G1Phone=" + document.getElementById("guardian1Number").value + 
          "&G2Name=" + document.getElementById("guardian2Name").value + 
          "&G2EMail=" + document.getElementById("guardian2Email").value + 
          "&G2Phone=" + document.getElementById("guardian2Number").value;

        var callback = reloadIt;

        httpPutAsync(theUrl, data, callback);
      }

      function deleteStudent(button){
        if(button.classList.contains("deleteButtonActive")){
          var temp = window.location.href.split('/');
          var theUrl = temp[0];
          for(var i = 1; i < temp.length - 2;++i){
            theUrl = theUrl + '/' + temp[i];
          }

          var theUrl = theUrl + '/deletestudent';
          var data = "id=" + temp[temp.length - 1];
          var callback = goToAdmin;
          httpPostAsync(theUrl, data, callback);
        }

        else {
          button.classList += " deleteButtonActive";
          button.innerHTML = "Are you sure?";
        }


        window.onclick = function(event) {
          if (event.target != button) {
            button.classList.remove("deleteButtonActive");
            button.innerHTML = "Delete Student";
          }
        }
      }

      function loadCheckBox(checkBox, val){
        if(val == 1){
          checkBox.checked = true;
        }
        else checkBox.checked = false;
      }
    </script>
    
</html>
