<!DOCTYPE html>
<html>
    <head>
        <nav><%- include header.ejs %></nav>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/tabs.css' />
        <link rel='stylesheet' href='/stylesheets/profile.css' />
        <link rel='stylesheet' href='/stylesheets/form.css' />
        <link rel='stylesheet' href='/stylesheets/switch.css' />
        <link rel="stylesheet" href="/stylesheets/prettydropdowns.css">
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/javascripts/utilityScripts.js"></script>
        <script src="/javascripts/birthdayDropdown.js"></script>
        <script src="/javascripts/jquery.prettydropdowns.js"></script>
        
    </head>
    <body>

      <div class="contentWithSidebar width90 center">

        <!-- -------------------- LEFT SIDE --------------------- -->
        <div class="flex flexColumn width65 flexAlignCenter width100Mobile">

          <!-- -------------------- INFO PANEL --------------------- -->
          <div id="infoPanel" class="mobilePanel lightGray1-BG margin10 borderRadiusSmall hideOverflow minWidth450px width100">
            <div class="flexContainer spaceAround flexWrap heavyPadding">
              <ul class="width40 width100Mobile">
                <li class="darkText largeFont marginBottom10">Guardian #1</li>
                <li><input class="lineInput"name="guardian1Name" type="text" id="guardian1Name" placeholder="Guardian Name" value=<%- student.RelativeName %>></li>
                <li><input class="lineInput" name="guardian1Email" type="text" id="guardian1Email" placeholder="Guardian Email" value=<%- student.RelativeEmail %>></li>
                <li><input class="lineInput marginBottom30" name="guardian1Number" type="text" id="guardian1Number" placeholder="Guardian's Phone Number" value=<%- student.RelativePhone %>></li>
              </ul>

              <ul class="width40 width100Mobile">
                <li class="darkText largeFont">Guardian #2</li>
                <li><input class="lineInput" name="guardian2Name" type="text" id="guardian2Name" placeholder="Guardian Name" value=<%- student.RelativeName2 %>></li>
                <li><input class="lineInput" name="guardian2Email" type="text" id="guardian2Email" placeholder="Guardian Email" value=<%- student.RelativeEmail2 %>></li>
                <li><input class="lineInput" name="guardian2Number" type="text" id="guardian2Number" placeholder="Guardian's Phone Number" value=<%- student.RelativePhone2 %>></li>
              </ul>
              
            </div>
          </div>


          <div class="flex flexWrap width100 spaceBetween centerFlexMobile">
          <!-- -------------------- EXTRA INFO PANEL --------------------- -->
            <div id="extraInfoPanel" class="mobilePanel width60 lightGray1-BG borderRadiusSmall hideOverflow width90Mobile">
              <div class="flexContainer flexColumn spaceAround flexWrap heavyPadding">
                <div class="flex flexColumn width100 marginBottom30">
                  <p>Allergies</p>
                  <textarea></textarea>
                </div>
                <div class="flex flexColumn width100">
                  <p>Special Accommodations</p>
                  <textarea></textarea>
                </div>
              </div>
            </div>
  
            <!-- -------------------- SCHEDULE PANEL --------------------- -->
            <div id="schedulePanel" class="mobilePanel lightGray1-BG borderRadiusSmall hideOverflow marginLeft10 flexGrow1 width90Mobile">
              <div class="flexContainer flexColumn spaceAround flexWrap heavyPadding">
                <div class="fullDay">
                  <label for="fullDay" class="switchLabel">Full Day</label>
                  <div>
                    <label class="switch">
                      <input type="switchColumn" id="fullDay" name="fullDay" onload="loadCheckBox(this, <%= student.DayType %>)">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <ul id="schedule" class="selectableList flexColumn">
                  <li id="mon" value="<%- student.Monday %>" onclick="selectableSelected(this)"><a>M</a></li>
                  <li id="tue" value="<%- student.Tuesday %>" onclick="selectableSelected(this)"><a>T</a></li>
                  <li id="wed" value="<%- student.Wednesday %>" onclick="selectableSelected(this)"><a>W</a></li>
                  <li id="thu" value="<%- student.Thursday %>" onclick="selectableSelected(this)"><a>T</a></li>
                  <li id="fri" value="<%- student.Friday %>" onclick="selectableSelected(this)"><a>F</a></li>
                </ul>
              </div>
            </div>
          </div>
          </div>
          
        

        <!-- -------------------- STUDENT PROFILE (RIGHT SIDE) --------------------- -->
        <div class="profileSection lightGray1-BG">
          <ul class="width90 flexListColumn heavyPadding">
            <li>
              <label for="file-input" class="imageContainer tooltip marginBottom40 marginTop20">
                <div class="edit-image-tooltip">
                  <span class="tooltiptext">Edit Image</span>
                <img src="/uploads/images/<%- student.Img %>" onerror="this.src='/uploads/images/default.png'">
              </label>
              <form action="<%-student.StudentId%>/upload" method="POST" enctype="multipart/form-data">
                <div class="file-field input-field hiddenUpload">
                  <input id="file-input" name="student-image-id" type="file" onchange="form.submit()">
                  </div>
              </form>
            </li>
            <li class="spaceBetween">
              <label class="width30">NAME</label>
              <input class="hiddenInput rightText" name="studentName" id="studentName" value=<%- student.StudentName %>>
            <li class="spaceBetween marginBottom40">
              <label class="width30">BIRTHDAY</label>
              <input id="studentbirthday" value="<%- student.Birthdate %>" style="display: none;"></input>
              <div class="flexRowSpaceAround">
                <select id="year" class="pretty-classic" onchange="genDays();">
                </select>

                <select id="month" class="pretty-classic" onchange="genDays();">
                  <option value="01">Jan</option>
                  <option value="02">Feb</option>
                  <option value="03">Mar</option>
                  <option value="04">Apr</option>
                  <option value="05">May</option>
                  <option value="06">Jun</option>
                  <option value="07">Jul</option>
                  <option value="08">Aug</option>
                  <option value="09">Sep</option>
                  <option value="10">Oct</option>
                  <option value="11">Nov</option>
                  <option value="12">Dec</option>
                </select>
        
                <select id="day" class="pretty-classic">
                </select>
              </div>
            </li>
            <li class="profileButtons">
                <a onclick="deleteStudent(this)" class="deleteButton">Delete Student</a>
                <a onclick="saveStudent()" class="saveButton">Save Changes</a>
            </li>
            <form action="<%-student.StudentId%>/delete-student" id="delete-student-form" method="POST"></form>
              <label><font color="green"><%- messages.upload_successful %></font></label>
              <label><font color="green"><%- messages.changes_saved %></font></label>
              <label><font color="red"><%- messages.changes_error %></font></label>
              <label><font color="red"><%- messages.upload_error %></font></label>
          </ul>
        </div>
      </div>
    </body>


    <script>
      $( function() {
        $( "#tabs" ).tabs();
      } );
    </script>

    <script>
      var days = document.getElementById("schedule").getElementsByTagName("li");
      var length = days.length;

      // Sets days that are selected to selected in the Schedule tab
      $(document).ready(function(){
        for (var i = 0; i < length; i++){
          val = days[i].getAttribute("value");
          if(val == 1){
            days[i].classList += " selectedElement";
          }
          else {
            days[i].classList.remove("selectedElement");
          }
        }  
      });

      $dropdown = $('.pretty-classic').prettyDropdown({
        classic: true,
        height: 30,
        hoverIntent: -1
      });

      function saveStudent(){
        
        var data = 
          `studentName=${document.getElementById('studentName').value}` +
          `&mon=${isDaySelected("mon")}` +
          `&tue=${isDaySelected("tue")}` +
          `&wed=${isDaySelected("wed")}` +
          `&thu=${isDaySelected("thu")}` +
          `&fri=${isDaySelected("fri")}` +
          `&fullDayFlag=${convertBoolToInt(document.getElementById("fullDay").checked)}` +
          `&birthdate=${document.getElementById("year").value}/${document.getElementById("month").value}/${document.getElementById("day").value}` +
          `&guardian1Name=${document.getElementById('guardian1Name').value}` +
          `&guardian1Email=${document.getElementById('guardian1Email').value}` +
          `&guardian1Number=${document.getElementById('guardian1Number').value}` +
          `&guardian2Name=${document.getElementById('guardian2Name').value}` +
          `&guardian2Email=${document.getElementById('guardian2Email').value}` +
          `&guardian2Number=${document.getElementById('guardian2Number').value}`;
        

        httpPostAsync(`${window.location.href}/save-changes`, data, reloadIt);

      }

      function deleteStudent(button){
        if(button.classList.contains("deleteButtonActive")){
          form = document.getElementById("delete-student-form");
          form.submit();
        }

        else {
          button.classList += " deleteButtonActive";
          button.innerHTML = "Are you sure?";
        }


        window.onclick = function(event) {
          if (event.target != button) {
            button.classList.remove("deleteButtonActive");
            button.innerHTML = "Delete Student";
          }
        }
      }

      function loadCheckBox(checkBox, val){
        if(val == 1){
          checkBox.checked = true;
        }
        else checkBox.checked = false;
      }
    </script>
    
</html>
