<!DOCTYPE html>
<html>
    <head>
        <%- include headerlinks.ejs %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/profile.css' />
        <link rel='stylesheet' href='/stylesheets/form.css' />
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/javascripts/utilityScripts.js"></script>
        
    </head>
    <body>
      <div class="page-with-sidemenu">
        <div onclick="$(this).toggleClass('active'); toggleBodyOverflow();" class="side-header-mobile-burger">
          <i class="fa fa-bars"></i>
        </div>
        <%- include header.ejs %>
        <div class="content-with-side-header">
          <!-- Profile container -->
          <div class="flex width90 centerMobile flexCollapseMobile">

            <!-- Picture/buttons -->
            <div class="flex flexColumn width30 width100Mobile margin20 marginBottom40">
              <div class="flex flexCenter width80 width100Mobile center">
                <label for="file-input" class="imageContainer width100 tooltip">
                  <div class="edit-image-tooltip">
                    <span class="tooltiptext">Edit Image</span>
                  </div>
                  <img src="/uploads/images/<%- student.Img %>" onerror="this.src='/uploads/images/default.png'">
                </label>
                <form action="<%-student.StudentId%>/upload" method="POST" enctype="multipart/form-data">
                  <div class="file-field input-field hiddenUpload">
                    <input id="file-input" name="student-image-id" type="file" onchange="form.submit()">
                  </div>
                </form>
              </div>

              <!-- Buttons -->
              <div class="flex spaceBetween width70 center marginTop30 marginBottom10">
                <a id="backButton" onclick="window.location.href = '/admin'" class="centerText font25px theme-color1-BG padding10px0px width30">
                  <i onclick="window.location.href = '/admin'" class="light-text fas fa-arrow-left"></i>
                </a>
                <a id="deleteButton" onclick="deleteStudent(this)" class="centerText font25px theme-color4-light-BG padding10px0px width30">
                  <i class="light-text fas fa-trash-alt no-click"></i>
                </a>
                <a id="saveButton" onclick="saveStudent()" class="centerText font25px theme-color2-light-BG padding10px0px width30">
                  <i onclick="saveStudent()" class="light-text far fa-save"></i>
                </a>
              </div>

              <div class="centerText marginTop20">
                <form action="<%-student.StudentId%>/delete-student" id="delete-student-form" method="POST">
                  <label><font color="green"><%- messages.upload_successful %></font></label>
                  <label><font color="green"><%- messages.changes_saved %></font></label>
                  <label><font color="red"><%- messages.changes_error %></font></label>
                  <label><font color="red"><%- messages.upload_error %></font></label>
                </form>
              </div>
            </div><!-- End picture/buttons -->

            <!-- Right Panel Wrapper -->
            <div class="flex flexColumn borderRadiusSmall minWidth450px width90 center light-content-BG width100Mobile">
              <!-- Right Panel -->
              <div class="width100 width100Mobile centerFlexMobile flex flexColumn">
                <h2 id="studentName" class="largeFont margin20"><%= student.StudentName %></h2>
                
                <input id="studentbirthday" value="<%- student.Birthdate %>" style="display: none;"></input>
                
                <!-- Birthday and schedule -->
                <div class="flex spaceBetween width100 flexCollapseMobile margin20">
                  <div class="flex flexColumn width40 margin20 width90Mobile"><!-- Birthday -->
                    <p class="marginBottom10">Birthdate</p>
                    <div class="flex width80 width100Mobile centerFlexMobile font15px marginBottom10"> 
                      <div class="inputWithIcon width25 white-BG marginRight10">
                        <input id="month" placeholder="MM" maxlength="2"></input>
                      </div>
                      <div class="inputWithIcon width25 white-BG marginRight10">
                        <input id="day" placeholder="DD" maxlength="2"></input>
                      </div>
                      <div class="inputWithIcon width40 white-BG">
                        <input id="year" placeholder="YYYY" maxlength="4"></input>
                      </div>
                    </div> 
                  </div><!-- End birthday -->
                  
                  <!-- Schedule -->
                  <div class="flex flexColumn margin20 width50 width90Mobile">
                    <p class="marginBottom10">Schedule</p>
                    <ul id="schedule" class="selectableList flexWrap width90 flexCenter marginBottom10 width100Mobile">
                      <li id="mon" value="<%- student.Monday %>" onclick="weekdaySelected(this)"><a>M</a></li>
                      <li id="tue" value="<%- student.Tuesday %>" onclick="weekdaySelected(this)"><a>T</a></li>
                      <li id="wed" value="<%- student.Wednesday %>" onclick="weekdaySelected(this)"><a>W</a></li>
                      <li id="thu" value="<%- student.Thursday %>" onclick="weekdaySelected(this)"><a>TH</a></li>
                      <li id="fri" value="<%- student.Friday %>" onclick="weekdaySelected(this)"><a>F</a></li>
                    </ul>
                  </div> <!-- End Schedule -->
                </div> <!-- End birthday/schedule -->


                <!-- Guardians and notes -->
                <div class="flex flexCollapseMobile spaceBetween width100 margin20">
                  <!-- Guardians -->
                  <div class="flex flexColumn width40 width90Mobile">
                    <div class="width100 width90Mobile center marginBottom20 margin20">
                      <ul class="marginBelowChildren10">
                        <li class="dark-text largeFont marginBottom10">Guardian #1</li>
                        <li><input name="guardian1Name" type="text" id="guardian1Name" placeholder="Guardian Name" value="<%- student.RelativeName %>"></li>
                        <li><input name="guardian1Email" type="text" id="guardian1Email" placeholder="Guardian Email" value=<%- student.RelativeEmail %>></li>
                        <li><input name="guardian1Number" type="text" id="guardian1Number" placeholder="Guardian's Phone Number" value=<%- student.RelativePhone %>></li>
                      </ul>
                    </div>
                    
                    <div class="width100 width90Mobile center margin20">
                      <ul class="marginBelowChildren10">
                        <li class="dark-text largeFont marginBottom10">Guardian #2</li>
                        <li><input name="guardian2Name" type="text" id="guardian2Name" placeholder="Guardian Name" value="<%- student.RelativeName2 %>"></li>
                        <li><input name="guardian2Email" type="text" id="guardian2Email" placeholder="Guardian Email" value=<%- student.RelativeEmail2 %>></li>
                        <li><input name="guardian2Number" type="text" id="guardian2Number" placeholder="Guardian's Phone Number" value=<%- student.RelativePhone2 %>></li>
                      </ul>
                    </div>
                  </div> <!-- End Guardians -->

                  <!-- Notes/Accoms -->
                  <div class="flex flexColumn margin20 width50 width90Mobile">
                    <div class="flex flexColumn width90 marginBottom40">
                      <p class="marginBottom10">Allergies</p>
                      <textarea id="allergies" class="minHeight150px"><%= student.Allergies %></textarea>
                    </div>
                    <div class="flex flexColumn width90">
                      <p class="marginBottom10">Special Accommodations</p>
                      <textarea id="accommodations" class="minHeight150px"><%= student.Accommodation %></textarea>
                    </div>
                  </div> <!-- End notes/accoms -->
                </div> <!-- End guardians/notes -->
              </div> <!-- End Right Panel -->  
            </div> <!-- End Right Panel Wrapper -->  

          </div> <!-- End profile container -->
        </div> <!-- End side header content container -->
      </div> <!-- End page with side menu container -->
    </body>
  
    <script>
      var days = document.getElementById("schedule").getElementsByTagName("li");
      var length = days.length;

      // Sets days that are selected to selected in the Schedule tab
      $(document).ready(function(){
        for (var i = 0; i < length; i++){
          val = days[i].getAttribute("value");
          if(val == 1){
            days[i].classList.add("full-day");
          }
          else if(val == 2){
            days[i].classList.add("half-day");
          }
        }  

        var birthday = new Date(document.getElementById('studentbirthday').value);
        document.getElementById('month').value = birthday.getMonth() + 1;
        document.getElementById('day').value = birthday.getDate();
        document.getElementById('year').value = birthday.getFullYear();
      });



      function saveStudent(){
        var data = 
          `studentName=${document.getElementById('studentName').innerHTML}` +
          `&mon=${selectedDayType(document.getElementById("mon"))}` +
          `&tue=${selectedDayType(document.getElementById("tue"))}` +
          `&wed=${selectedDayType(document.getElementById("wed"))}` +
          `&thu=${selectedDayType(document.getElementById("thu"))}` +
          `&fri=${selectedDayType(document.getElementById("fri"))}` +
          `&fullDayFlag=${0}` +
          `&birthdate=${document.getElementById("year").value}/${document.getElementById("month").value}/${document.getElementById("day").value}` +
          `&guardian1Name=${document.getElementById('guardian1Name').value}` +
          `&guardian1Email=${document.getElementById('guardian1Email').value}` +
          `&guardian1Number=${document.getElementById('guardian1Number').value}` +
          `&guardian2Name=${document.getElementById('guardian2Name').value}` +
          `&guardian2Email=${document.getElementById('guardian2Email').value}` +
          `&guardian2Number=${document.getElementById('guardian2Number').value}` +
          `&allergies=${document.getElementById('allergies').value}` +
          `&accommodations=${document.getElementById('accommodations').value}`;
        httpPostAsync(`${window.location.href}/save-changes`, data, reloadIt);

      }

      function deleteStudent(button){
        if(button.classList.contains("deleteButtonConfirm")){
          form = document.getElementById("delete-student-form");
          form.submit();
        }

        else {
          hideElement(document.getElementById("saveButton"));
          hideElement(document.getElementById("backButton"));
          button.classList.add("width90");
          button.classList.add("deleteButtonConfirm");
          button.innerHTML = "Are you sure?";
        }


        window.onclick = function(event) {
          if (event.target != button) {
            showElement(document.getElementById("saveButton"));
            showElement(document.getElementById("backButton"));
            button.classList.remove("width90");
            button.classList.remove("deleteButtonConfirm");
            button.innerHTML = "<i class='light-text fas fa-trash-alt no-click'></i>";
          }
        }
      }

      function loadCheckBox(checkBox, val){
        if(val == 1){
          checkBox.checked = true;
        }
        else checkBox.checked = false;
      }
    </script>
    
</html>
