<!DOCTYPE html>
<html>
    <head>
        <nav><%- include header.ejs %></nav>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/tabs.css' />
        <link rel='stylesheet' href='/stylesheets/profile.css' />
        <link rel='stylesheet' href='/stylesheets/form.css' />
        <link rel='stylesheet' href='/stylesheets/switch.css' />
        <link rel="stylesheet" href="/stylesheets/prettydropdowns.css">
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/javascripts/utilityScripts.js"></script>
        <script src="/javascripts/birthdayDropdown.js"></script>
        <script src="/javascripts/jquery.prettydropdowns.js"></script>
        
    </head>
    <body>

      <div class="contentWithSidebar">
        <div class="tabsSection">
          <div id="tabs">
            <ul class="tabs">
              <li><a href="#tabs-1">Info</a></li>
              <li><a href="#tabs-2">Schedule</a></li>
              <li><a href="#tabs-3">Statistics</a></li>
            </ul>
            <div id="tabs-1" class="content content-BG">
              <div class="flexContainer spaceAround flexWrap">
                <ul class="width40 width100Mobile marginBottom40">
                  <li class="darkText largeFont marginBottom10">Guardian #1</li>
                  <li><input class="lineInput"name=”notASearchField” type="text" id="guardian1Name" placeholder="Guardian Name" value=<%- student.RelativeName %>></li>
                  <li><input class="lineInput" name=”notASearchField” type="text" id="guardian1Email" placeholder="Guardian Email" value=<%- student.RelativeEmail %>></li>
                  <li><input class="lineInput" name=”notASearchField” type="text" id="guardian1Number" placeholder="Guardian's Phone Number" value=<%- student.RelativePhone %>></li>
                </ul>
                <ul class="width40 width100Mobile">
                  <li class="darkText largeFont marginBottom10">Guardian #2</li>
                  <li><input name=”notASearchField” type="text" id="guardian2Name" placeholder="Guardian Name" value=<%- student.RelativeName2 %>></li>
                  <li><input name=”notASearchField” type="text" id="guardian2Email" placeholder="Guardian Email" value=<%- student.RelativeEmail2 %>></li>
                  <li><input name=”notASearchField” type="text" id="guardian2Number" placeholder="Guardian's Phone Number" value=<%- student.RelativePhone2 %>></li>
                </ul>
              </div>
              
            </div>
            
            <div id="tabs-2" class="content content-BG">
              <div class="fullDay">
                <label for="fullDay" class="switchLabel">Full Day</label>
                <div>
                  <label class="switch">
                    <input type="switchColumn" id="fullDay" name="fullDay" onload="loadCheckBox(this, <%= student.DayType %>)">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
              <ul id="schedule" class="week">
                <li id="mon" value="<%- student.Monday %>" onclick="weekdaySelected(this)"><a>M</a></li>
                <li id="tue" value="<%- student.Tuesday %>" onclick="weekdaySelected(this)"><a>T</a></li>
                <li id="wed" value="<%- student.Wednesday %>" onclick="weekdaySelected(this)"><a>W</a></li>
                <li id="thu" value="<%- student.Thursday %>" onclick="weekdaySelected(this)"><a>T</a></li>
                <li id="fri" value="<%- student.Friday %>" onclick="weekdaySelected(this)"><a>F</a></li>
              </ul>
            </div>

            <div id="tabs-3" class="content content-BG">
              <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
            </div>
          </div>
        </div>
        
        <div class="profileSection content-BG">
          <ul class="width90 flexListColumn heavyPadding">
            <li>
              <label for="file-input" class="imageContainer tooltip marginBottom40 marginTop20">
                <div class="edit-image-tooltip">
                  <span class="tooltiptext">Edit Image</span>
                <img src="/uploads/images/<%- student.Img %>" onerror="this.src='/uploads/images/default.png'">
              </label>
              <form action="<%-student.StudentId%>/upload" method="POST" enctype="multipart/form-data">
                <div class="file-field input-field hiddenUpload">
                  <input id="file-input" name="student-image-id" type="file" onchange="form.submit()">
                  </div>
              </form>
            </li>
            <p1><font color="red"><%- messages.upload_error %></font></p1></li>
            <li class="spaceBetween">
              <label class="width30">NAME</label>
              <input class="hiddenInput rightText" id="studentName" value="<%- student.StudentName %>">
            
              
            <li class="spaceBetween marginBottom40">
              <label class="width30">BIRTHDAY</label>
              <input id="studentbirthday" value="<%- student.Birthdate %>" style="display: none;"></input>
              <div class="flexRowSpaceAround">
                <select id="year" class="pretty-classic" onchange="genDays();">
                </select>

                <select id="month" class="pretty-classic" onchange="genDays();">
                  <option value="01">Jan</option>
                  <option value="02">Feb</option>
                  <option value="03">Mar</option>
                  <option value="04">Apr</option>
                  <option value="05">May</option>
                  <option value="06">Jun</option>
                  <option value="07">Jul</option>
                  <option value="08">Aug</option>
                  <option value="09">Sep</option>
                  <option value="10">Oct</option>
                  <option value="11">Nov</option>
                  <option value="12">Dec</option>
                </select>
        
                <select id="day" class="pretty-classic">
                </select>
              </div>
            </li>
            <li class="profileButtons">
              <form action="<%-student.StudentId%>/delete-student" id="delete-student-form" method="POST" enctype="multipart/form-data">
                <a onclick="deleteStudent(this)" class="deleteButton">Delete Student</a>
              </form>
              <!-- <a onclick="deleteStudent(this)" class="deleteButton">Delete Student</a> -->
              <form action="<%-student.StudentId%>/save-changes" id="save-changes-form" method="POST" enctype="multipart/form-data">
                <a onclick="saveStudent()" class="saveButton">Save Changes</a>
              </form>
              <!-- <a onclick="saveStudent()" class="saveButton">Save Changes</a> -->
            </li>
          </ul>
        </div>
      </div>
    </body>


    <script>
      $( function() {
        $( "#tabs" ).tabs();
      } );
    </script>

    <script>
      var days = document.getElementById("schedule").getElementsByTagName("li");
      var length = days.length;

      // Sets days that are selected to selected in the Schedule tab
      $(document).ready(function(){
        for (var i = 0; i < length; i++){
          val = days[i].getAttribute("value");
          if(val == 1){
            days[i].classList += " selectedDay";
          }
          else {
            days[i].classList.remove("selectedDay");
          }
        }  
      });

      $dropdown = $('.pretty-classic').prettyDropdown({
        classic: true,
        height: 30,
        hoverIntent: -1
      });
      
      function saveStudent(){
        var temp = window.location.href.split('/');
        var theUrl = temp[0];
        for(var i = 1; i < temp.length - 2;++i){
          theUrl = theUrl + '/' + temp[i];
        }

        var theUrl = theUrl + '/savestudent';
        var birthdate = document.getElementById("birthdateyear").value + "-" + document.getElementById("birthdatemonth").value + "-" + document.getElementById("birthdateday").value;
        var fullDay = convertBoolToInt(document.getElementById("fullDay").checked);
        var data = "id=" + temp[temp.length - 1] +
          "&mon=" + isDaySelected("mon") + 
          "&tue=" + isDaySelected("tue") + 
          "&wed=" + isDaySelected("wed") + 
          "&thu=" + isDaySelected("thu") + 
          "&fri=" + isDaySelected("fri") + 
          "&birthday=" + birthdate + "&fullday=" + fullDay + "&name=" + document.getElementById("studentName").value +
          "&G1Name=" + document.getElementById("guardian1Name").value + 
          "&G1EMail=" + document.getElementById("guardian1Email").value + 
          "&G1Phone=" + document.getElementById("guardian1Number").value + 
          "&G2Name=" + document.getElementById("guardian2Name").value + 
          "&G2EMail=" + document.getElementById("guardian2Email").value + 
          "&G2Phone=" + document.getElementById("guardian2Number").value;

        var callback = reloadIt;

        httpPutAsync(theUrl, data, callback);
      }

      function deleteStudent(button){
        if(button.classList.contains("deleteButtonActive")){
          var temp = window.location.href.split('/');
          var theUrl = temp[0];
          for(var i = 1; i < temp.length - 2;++i){
            theUrl = theUrl + '/' + temp[i];
          }

          var theUrl = theUrl + '/deletestudent';
          var data = "id=" + temp[temp.length - 1];

          form = document.getElementById("delete-student-form");
          form.submit();
        }

        else {
          button.classList += " deleteButtonActive";
          button.innerHTML = "Are you sure?";
        }


        window.onclick = function(event) {
          if (event.target != button) {
            button.classList.remove("deleteButtonActive");
            button.innerHTML = "Delete Student";
          }
        }
      }

      function loadCheckBox(checkBox, val){
        if(val == 1){
          checkBox.checked = true;
        }
        else checkBox.checked = false;
      }
    </script>
    
</html>
