<!DOCTYPE html>
<html>
  <head>
    <%- include headerlinks.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/custom-table.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="page-with-sidemenu">
      <div onclick="$(this).toggleClass('active'); toggleBodyOverflow();" class="side-header-mobile-burger">
        <i class="fa fa-bars"></i>
      </div>
      <%- include header.ejs %>
      <div class="content-with-side-header">
        <div class="flex flexWrap flexCollapseMobile width100">
          <% if(reports.length > 0) { %>
            <% reports.forEach((report, index) => {%>
                <ul class="custom-table width40">
                  <li class="title-row">
                    <h2 class="light-text"><%= report.name %></h2>
                  </li>
                  <li class="row">
                    <p class="column centerText">Potty Breaks: <%= report.pottyBreaks %> (<%= report.pottyAccidents %> Accidents)</p>
                  </li>
                  <% report.listOfActivities.forEach((activity, index) => {%>
                  <li class="row">
                    <p class="column width80">
                      <%= activity.ActivityName %>
                        <% if(activity.Helper == 1) { %>
                          <i class="fas fa-star theme-color2-light-text"></i>
                        <% } %>
                    </p>
                    <a class="column centerText theme-color4-light-BG width10 padding10px hoverable" onclick="deleteActivity('<%= activity.ActivityId %>','<%= report.id %>');"><i class="far fa-trash-alt"></i></a>
                  </li>
                  <% }) %>
                </ul>
            <% }) %>
          <% } else {%>
            <div class="missingContainer">
              <h2>No Reports</h2>
              <a href="/students">Add a Report</a>
            </div>
          <% } %>
        </div>
        
      </div>
    </div>
    <script>
      function deleteActivity(actId,stuId){
        console.log(actId,stuId);
        var theUrl = window.location.href+'/deleteevent';
        var data = "actId=" + actId + "&stuId=" + stuId;
        var callback = reloadIt;
        httpPostAsync(theUrl,data,callback);
      }
    </script>
  </body>
  </html>