<!-- Code from d3-graph-gallery.com -->
<!DOCTYPE html>
<html>

  <head>
    <nav><%- include header.ejs %></nav>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/stats.css' />
    <link rel='stylesheet' href='/stylesheets/charts.css' />
    <link rel='stylesheet' href='/stylesheets/admin-styling.css' />
    <link rel='stylesheet' href='/stylesheets/custom-table.css' />
    <link rel='stylesheet' href='/stylesheets/blockList.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/accordian.css' />
    <link rel='stylesheet' href='/stylesheets/tabs.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/switch.css' />
    <link rel='stylesheet' href='/stylesheets/ulList.css' />
    <link rel='stylesheet' href='/stylesheets/checkbox.css' />
    <link rel="stylesheet" href="/stylesheets/prettydropdowns.css">

    <script src="/javascripts/utilityScripts.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/jquery.prettydropdowns.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
   
    <!-- Load d3.js -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- Color scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

  </head>

  <body>

    <!-- Navigation -->
    <div class="headerStyle2" id ="navigation">
      <nav class="navbar-expand-lg">
        <span class="navbar-brand">CNP Statistics
          <% if (startDate == null) { %>
            <%= "No Data" %>
          <% } %>  
        </span>
        
          <!-- Month selection -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="float-right">
                <form>
                  <input id="hiddenstartDate" value="<%- startDate %>" style="display: none;">
                  <script>
                    var activityList = JSON.parse('<%- activities %>');
                    var studentList = JSON.parse('<%- students %>');
                  </script>
                </form>
              </div> <!-- end month selection-->
            </li>
          </ul>
        </div>
      </nav>
    </div> <!-- end navigation -->

    <!-- Drop down for adding a new chart -->
    <div id="charts">
      <select id="newchart" class="pretty-classic">
        <option value="pie">Pie Chart</option>
        <option value="line">Line Chart</option>
      </select>

      <ul id="selectionButtons" class="selectionButtons">
        <li><a id="studentButton" class="accent2Light-BG" onclick="makeChart()">Add a New Chart</a></li>
      </ul>
      </div>

      <script>
        var chartArray = [];
        var curId = 0;

        //Makes an array of random colors
        function getRandomColors(n) {
          var colorArray = [];
          var num = n;
        
          var letters = '0123456789ABCDEF';
          var color = '#';
          for (var j = 0; j < num; j++) {
            for (var i = 0; i < 6; i++) {
              color += letters[Math.floor(Math.random() * 16)];
            }
            colorArray.push(color);
            color = '#';
          }
          return colorArray;
        }

        function makeChart() {
          var id = "chartObject" + curId;
          var selected = document.getElementById('newchart').options[document.getElementById('newchart').selectedIndex].value;
          if(selected == "pie") {
            generatePie(id);
            let pie1 = new thePie(id);
            chartArray.push(pie1);
            curId = curId + 1;
          }
          else if(selected == "line" ) {
            generateLine(id);
            getRecordsLine('all', id);
          }
          //else if(selected == "scatter") {
            //Needs to be updated
            //console.log("scatter")
            //generateScatter(id);
            //getRecordsScatter('all', id);
          //}
          //else if(selected == "radar") {
            //console.log("radar")
            //generateRadar(id);
            //getRecordsRadar('all', id);
          //}
          //else if(selected == "bubble") {
            //Needs to be updated
            //console.log("bubble")
            //generateBubble(id);
            //getRecordsBubble('all', id);
          //}
          //else if(selected == "bar") {
            //console.log("bar")
            //generateBar(id);
            //getRecordsBar('all', id);
          //}
          else {
            console.log("oh no")
          }
        };

        function deleteChart(id) {
          console.log(chartArray, id);
          chartArray.forEach((element) => {
            if(element.myId == id){
              chartArray.pop(element);
            }
          });
          document.getElementById(id).remove();
          console.log("delete a chart")
        }

      </script>


    <!-- SCATTER PLOT -->
    <!-- <div class="chart" id="scatter"> -->
      <!--<h1>Scatter Plot</h1> -->
      <!-- Make a scatter chart -->
      <!-- Doesn't work -->
      <!-- <button onclick="makeScatter('#scatter')">Make Scatter</button>
      <script> 
        function makeScatter(id){
          console.log("make a scatter chart");
        }
      </script> -->
      <!-- this just makes one scatter chart -->
      <!-- <canvas id="scatter-chart"></canvas> -->
      <!-- randomize some data just as proof of concept -->
      <!-- <button id="randomizeData">Randomize Data</button> -->
    <!-- </div>  end Scatter --> 

    
    

    <!-- Records and Data -->
    <script>
      
      //Pie Records
      function getRecordsPie(weather, caller) {
        var today = new Date();
        var selection = "Students";
        var beta = document.getElementById('option2' + caller).options[document.getElementById('option2' + caller).selectedIndex].text;
        var id = document.getElementById('optionid1' + caller).options[document.getElementById('optionid1' + caller).selectedIndex].value;
        var start = document.getElementById('syear'+caller).value + '-' + document.getElementById('smonth'+caller).value + '-' + document.getElementById('sday'+caller).value;
        var end = document.getElementById('eyear'+caller).value + '-' + document.getElementById('emonth'+caller).value + '-' + document.getElementById('eday'+caller).value;
        theUrl = window.location.href+'/getdata';
        data = "id=" + id + "&prime=" + selection + "&beta=" + beta + "&weather=" + weather + "&start=" + start + "&end=" + end + "&caller=" + caller + "&chart=Pie";
        callback = gotDataPie; 
        httpPostAsync(theUrl,data,callback); 
      }

      function gotDataPie(data) {
        data = JSON.parse(data);
        var datum = [];
        var id, total = 0; 
        var friendBool = 0;
        data.forEach((element) => {
          if(element.caller != null) {
            id = element.caller;
          }
        }); 
        data.forEach((element) => {
          if(element.caller == null) {
            var temp = document.getElementById('option2' + id).options[document.getElementById('option2' + id).selectedIndex].text;
            if(temp == "Activities"){
              datum[element.activityName] = element.value;
              total = total + element.value;
              friendBool = 0;
            }
            else if(temp == "Friends"){
              datum[element.friend] = element.timestogether;
              total = total + element.timestogether;
              friendBool = 1;
            }
            
          }
        }); 
       chartArray.forEach((chart) => {
          if(chart.myId == id){
            chart.update(datum, total, friendBool);
          }
        });
      }
      //End of Pie Records
      
      //Line Records
      function getRecordsLine(weather, caller) {
        var today = new Date();
        var selection = document.getElementById('option1' + caller).options[document.getElementById('option1' + caller).selectedIndex].text;
        var betaPre = document.getElementById('option2' + caller).options[document.getElementById('option2' + caller).selectedIndex].text;
        var id = document.getElementById('optionid1' + caller).options[document.getElementById('optionid1' + caller).selectedIndex].value;
        var beta;
        var extra = "hi";
        if(betaPre == "Potty total" || betaPre == "Potty successes" || betaPre == "Potty accidents"){
          beta = "Behavior";
          extra = (betaPre.split(" "))[1];
        }
        else if(betaPre == "Absences"){
          beta = "ClassSession";
        }
        else{
          beta = betaPre;
        }
        var start = document.getElementById('syear'+caller).value + '-' + document.getElementById('smonth'+caller).value + '-' + document.getElementById('sday'+caller).value;
        var end = document.getElementById('eyear'+caller).value + '-' + document.getElementById('emonth'+caller).value + '-' + document.getElementById('eday'+caller).value;
        var sections = document.getElementById('section'+caller).value;
        theUrl = window.location.href+'/getdata';
        data = "id=" + id + "&prime=" + selection + "&beta=" + beta + "&weather=" + weather + "&start=" + start + "&end=" + end + "&caller=" + caller + "&chart=Line" + "&segNum=" + sections + "&extra=" + extra;
        callback = gotDataLine; 
        httpPostAsync(theUrl,data,callback); 
      }

      function gotDataLine(data) {
        data = JSON.parse(data);
        var id;
        data.forEach((element) => {
          if(element.activityName == null){
            id = element.caller;
          }
        }); 
        var found = false;
        var i = 0;
        chartArray.forEach((element) =>{
          if(element.myId == id){
            
            document.getElementById("canvas" + id).remove();
            var canvas = document.createElement("canvas");
            canvas.id = "canvas" + id;
            document.getElementById(id).appendChild(canvas);
            let line = new theLine(id, data);
            chartArray[i] = line;
            found = true;
          }
          i = i + 1;
        });
        if(!found){
          let line = new theLine(id, data);
          chartArray.push(line);
          curId = curId + 1;
        }
      }
      //End of Line Records

      //Scatter Records
      function getRecordsScatter(weather, caller) {
        var today = new Date();
        var selection = document.getElementById('option1' + caller).options[document.getElementById('option1' + caller).selectedIndex].text;
        var beta = document.getElementById('option2' + caller).options[document.getElementById('option2' + caller).selectedIndex].text;
        var id = document.getElementById('optionid1' + caller).options[document.getElementById('optionid1' + caller).selectedIndex].value;
        var start = document.getElementById('syear'+caller).value + '-' + document.getElementById('smonth'+caller).value + '-' + document.getElementById('sday'+caller).value;
        var end = document.getElementById('eyear'+caller).value + '-' + document.getElementById('emonth'+caller).value + '-' + document.getElementById('eday'+caller).value;
        theUrl = window.location.href+'/getdata';
        data = "id=" + id + "&prime=" + selection + "&beta=" + beta + "&weather=" + weather + "&start=" + start + "&end=" + end + "&caller=" + caller;
        callback = gotDataScatter; 
        httpPostAsync(theUrl,data,callback); 
      }

      function gotDataScatter(data) {
        data = JSON.parse(data);
        var datum = [];
        var id;
        data.forEach((element) => {
          if(element.activityName == null){
            id = element.caller;
          }
          else{
            datum[element.activityName] = element.value;
          }
        }); 

        let scatter = new theScatter(id, data);
        var found = false;

        chartArray.forEach((element) =>{
          if(element.myId == id){
            element = scatter;
            curId = curId + 1;
            found = true;
          }
        });

        if(!found){
          chartArray.push(scatter);
          curId = curId + 1;
        }
      }
      //End of Scatter Records

      //Radar Records
      function getRecordsRadar(weather, caller) {
        var today = new Date();
        var selection = document.getElementById('option1' + caller).options[document.getElementById('option1' + caller).selectedIndex].text;
        var beta = document.getElementById('option2' + caller).options[document.getElementById('option2' + caller).selectedIndex].text;
        var id = document.getElementById('optionid1' + caller).options[document.getElementById('optionid1' + caller).selectedIndex].value;
        var start = document.getElementById('syear'+ caller).value + '-' + document.getElementById('smonth'+caller).value + '-' + document.getElementById('sday'+caller).value;
        var end = document.getElementById('eyear'+ caller).value + '-' + document.getElementById('emonth'+caller).value + '-' + document.getElementById('eday'+caller).value;
        theUrl = window.location.href+'/getdata';
        data = "id=" + id + "&prime=" + selection + "&beta=" + beta + "&weather=" + weather + "&start=" + start + "&end=" + end + "&caller=" + caller;
        callback = gotDataRadar; 
        httpPostAsync(theUrl,data,callback); 
      }

      function gotDataRadar(data) {
        data = JSON.parse(data);
        var datum = [];
        var id;
        data.forEach((element) => {
          if(element.activityName == null){
            id = element.caller;
          }
          else{
            datum[element.activityName] = element.value;
          }
        }); 

        let radar = new theRadar(id, data);
        var found = false;

        chartArray.forEach((element) =>{
          if(element.myId == id){
            element = radar;
            curId = curId + 1;
            found = true;
          }
        });

        if(!found){
          chartArray.push(radar);
          curId = curId + 1;
        }
      }
      //End of Radar Records

      //Bubble Records
      function getRecordsBubble(weather, caller) {
        var today = new Date();
        var selection = document.getElementById('option1' + caller).options[document.getElementById('option1' + caller).selectedIndex].text;
        var beta = document.getElementById('option2' + caller).options[document.getElementById('option2' + caller).selectedIndex].text;
        var id = document.getElementById('optionid1' + caller).options[document.getElementById('optionid1' + caller).selectedIndex].value;
        var start = document.getElementById('syear'+caller).value + '-' + document.getElementById('smonth'+caller).value + '-' + document.getElementById('sday'+caller).value;
        var end = document.getElementById('eyear'+caller).value + '-' + document.getElementById('emonth'+caller).value + '-' + document.getElementById('eday'+caller).value;
        theUrl = window.location.href+'/getdata';
        data = "id=" + id + "&prime=" + selection + "&beta=" + beta + "&weather=" + weather + "&start=" + start + "&end=" + end + "&caller=" + caller;
        callback = gotDataBubble; 
        httpPostAsync(theUrl,data,callback); 
      }

      function gotDataBubble(data) {
        data = JSON.parse(data);
        var datum = [];
        var id;
        data.forEach((element) => {
          if(element.activityName == null){
            id = element.caller;
          }
          else{
            datum[element.activityName] = element.value;
          }
        }); 

        let bubble = new theBubble(id, data);
        var found = false;

        chartArray.forEach((element) =>{
          if(element.myId == id){
            element = bubble;
            curId = curId + 1;
            found = true;
          }
        });

        if(!found){
          chartArray.push(bubble);
          curId = curId + 1;
        }
      }
      //End of Bubble Records

      //Bar Records
      function getRecordsBar(weather, caller) {
        var today = new Date();
        var selection = document.getElementById('option1' + caller).options[document.getElementById('option1' + caller).selectedIndex].text;
        var beta = document.getElementById('option2' + caller).options[document.getElementById('option2' + caller).selectedIndex].text;
        var id = document.getElementById('optionid1' + caller).options[document.getElementById('optionid1' + caller).selectedIndex].value;
        var start = document.getElementById('syear'+caller).value + '-' + document.getElementById('smonth'+caller).value + '-' + document.getElementById('sday'+caller).value;
        var end = document.getElementById('eyear'+caller).value + '-' + document.getElementById('emonth'+caller).value + '-' + document.getElementById('eday'+caller).value;
        theUrl = window.location.href+'/getdata';
        data = "id=" + id + "&prime=" + selection + "&beta=" + beta + "&weather=" + weather + "&start=" + start + "&end=" + end + "&caller=" + caller;
        callback = gotDataBar; 
        httpPostAsync(theUrl,data,callback); 
      }

      function gotDataBar(data) {
        data = JSON.parse(data);
        var datum = [];
        var id;
        data.forEach((element) => {
          if(element.activityName == null){
            id = element.caller;
          }
          else{
            datum[element.activityName] = element.value;
          }
        }); 

        let bar = new theBar(id, data);
        var found = false;

        chartArray.forEach((element) =>{
          if(element.myId == id){
            element = bar;
            curId = curId + 1;
            found = true;
          }
        });

        if(!found){
          chartArray.push(bar);
          curId = curId + 1;
        }
      }
      //End of Bar Records

      function makeDates(id){  
        var date = new Date();
        var moreThanZero = false;
        var startdate = document.getElementById('hiddenstartDate').value;
        startdate = (new Date(startdate)).getFullYear();
        var yearDrop = document.getElementById('syear' + id);

        // for if a birthday dropdown exist
        for(var i = 0; date.getFullYear() - i >= startdate; ++i){
            var option = document.createElement("option");
            option.text = date.getFullYear() - i;
            if(i == 1) {
              option.selected = true;
              moreThanZero = true;
            }
            yearDrop.appendChild(option);
        }
        if(moreThanZero) {
          document.getElementById('smonth' + id).selectedIndex = date.getMonth();
        }
        sgenDays(id);
        if(moreThanZero) {
          document.getElementById('sday' + id).selectedIndex = date.getMonth() - 1;
        }
        
        yearDrop = document.getElementById('eyear' + id);
        
        // for if a birthday dropdown exist
        for(var i = 0; date.getFullYear() - i >= startdate; ++i){
            var option = document.createElement("option");
            option.text = date.getFullYear() - i;
            yearDrop.appendChild(option);
        }

        document.getElementById('emonth' + id).selectedIndex = date.getMonth();
        egenDays(id);
        
        document.getElementById('eday' + id).selectedIndex = date.getDate() - 1;
      }

      function sgenDays(id){
        
        var months = document.getElementById('smonth' + id);
        var month = months.options[months.selectedIndex].value;
        var years = document.getElementById('syear' + id);
        var year = years.options[years.selectedIndex].text;
        var day = document.getElementById('sday' + id);
        month = new Date(Date.parse(month +" 1, 2012")).getMonth()+1
        var daysinmonth = new Date(year, month, 0).getDate();
        $(day).empty();
        for(var i = 1; i <= daysinmonth; ++i){
            var option = document.createElement("option");
            option.text = i;
            option.value = i;
            day.appendChild(option);
        }
      }

      function egenDays(id){
        var months = document.getElementById('emonth' + id);
        var month = months.options[months.selectedIndex].value;
        var years = document.getElementById('eyear' + id);
        var year = years.options[years.selectedIndex].text;
        var day = document.getElementById('eday' + id);
        month = new Date(Date.parse(month +" 1, 2012")).getMonth()+1
        var daysinmonth = new Date(year, month, 0).getDate();
        $(day).empty();
        for(var i = 1; i <= daysinmonth; ++i){
            var option = document.createElement("option");
            option.text = i;
            option.value = i;
            day.appendChild(option);
        }
      }

    </script> <!-- End Records and Data -->

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- local javascript -->
    <script type="text/javascript" src="javascripts/statscripts/pie.js"></script>
    <script type="text/javascript" src="javascripts/statscripts/line-chart.js"></script>
    <script type="text/javascript" src="javascripts/statscripts/navigation.js"></script>
    <!--<script type="text/javascript" src="javascripts/statscripts/radar-chart.js"></script> --> 
    <!--<script type="text/javascript" src="javascripts/statscripts/radar-chart.js"></script> --> 
    <script type="text/javascript" src="javascripts/statscripts/bar-chart.js"></script>
    <!-- <script type="text/javascript" src="javascripts/statscripts/bubble-chart.js"></script> -->
    <!-- <script type="text/javascript" src="javascripts/statscripts/scatter-chart.js"></script> -->
  </body>
</html>
