<!DOCTYPE html>
<html>
  <nav><%- include header.ejs %></nav>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/students.css' />
  </head>
  <body>
    <p><a href="/">Back to Directory</a></p>
        <% if (students.length > 0) {%>
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Parent/Guardian</th>
                    <th scope="col">Attending</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach((student, index) => { %>
                    <tr>
                        <td scope="row"><%= student.StudentId %></th>
                        <td><img src="/assets/img/<%= student.Img %>" class="rounded-circle player-img" alt=""></td>
                        <td><%= student.StudentName %></td>
                        <td><%= student.RelativeName %></td>
                        <td><%= student.AbsentToday %></td>
                        <td>
                            <a href="/edit/<%= student.StudentId %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                            <a href="/delete/<%= student.StudentId %>" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h2>no students</h2>
    <% } %>
  </body>
  <script>
      rows = document.getElementsByTagName("tr");
      for(var i = 2; i < rows.length; i++){
          if(i % 2 == 0){
              rows[i].classList += " grayRow";
          }
      }
  </script>
</html>
