<!DOCTYPE html>
<html>
  <head>
    <nav></nav>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/blockList.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/ulList.css' />
    <link rel='stylesheet' href='/stylesheets/editor.css' />
    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.snow.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <script src="/javascripts/post.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/utilityScripts.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

  </head>
  <body>
    <div class="page-with-side-menu">
      <div onclick="$(this).toggleClass('active'); toggleBodyOverflow();" class="side-header-mobile-burger">
        <i class="fa fa-bars"></i>
      </div>
      <div id="sideHeader" class="side-header-wrapper">
        <div class="side-header">
          <div class="side-header-top width100">
            <a class="side-header-link" href="/">Home</a>
            <a class="side-header-link" href="/tracker">Tracker</a>
            <a class="side-header-link" href="/reports">Reports</a>
            <a class="side-header-link theme-color1-light-BG" href="/admin">Admin</a>
            <a class="side-header-link" href="/stats">Stats</a>
            <a class="side-header-link" href="/emailer">Email</a>
            <a class="side-header-link" href="/tasks">Tasks</a>
            <div class="flex flexColumn width100">
              <a onclick="animateOpenClose(this, 'emailSettingsMenu')" class="side-header-title">Email Settings <i class="fas fa-chevron-down"></i></a>
              <div id="emailSettingsMenu" class="side-header-submenu" style="display: none;">
                <a class="side-header-link side-header-submenu-link" onclick="emailSettings('editHeaderForm')">Edit Header</a>
                <a class="side-header-link side-header-submenu-link" onclick="emailSettings('editSignatureForm')">Edit Signature</a>
              </div>
            </div>
            <div class="flex flexColumn width100">
              <a onclick="animateOpenClose(this, 'accountSettingsMenu')" class="side-header-title">Accounts <i class="fas fa-chevron-down"></i></a>
              <div id="accountSettingsMenu" class="side-header-submenu" style="display: none;">
                <a class="side-header-link side-header-submenu-link" href="/admin/reset-password">Reset Password</a>
                <a class="side-header-link side-header-submenu-link" href="/register">Add User</a>
              </div>
            </div>
          </div>

          <div class="side-header-bottom">
            <form action="/logout?_method=DELETE" method="POST">
              <button class="side-header-link resetButton width100 leftText noBorder" href="/logout?_method=DELETE" type="submit"><i class="rotate180 fas fa-sign-out-alt marginRight10"></i> Logout</button>
            </form>
          </div>
        </div>
      </div>
      

      <div class="content-with-side-header">
        <div class="flex flexWrap spaceBetween">
          <!-- ----- Theme Colors Panel ----- -->
          <div class="mobilePanel light-content-BG flexGrow1 margin10 borderRadiusSmall hideOverflow minWidth450px width450px">
            <h2 class="width100 dark-content-BG padding10px light-text">Theme Colors</h2>
            <div class="heavyPadding">
              <% themeColors.forEach((variable, index) => {  %>
                <div class="flex spaceBetween flexAlignCenter padding5px">
                  <p><%= variable.Name %></p>
                  <div class="flex flexRight width40 flexAlignCenter">
                    <input maxlength="7" id="<%= variable.Name %>-value" value="<%= variable.Value %>" />
                    <div class="color-box" style="background:<%= variable.Value %>"></div>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>

          <div class="flex flexColumn flexAlignCenter flexGrow1 minWidth450px width450px">
            <!-- ----- Text Colors Panel ----- -->
            <div class="mobilePanel light-content-BG marginBottom10 marginTop10 borderRadiusSmall hideOverflow width450px">
              <h2 class="width100 dark-content-BG padding10px light-text">Text Colors</h2>
              <div class="heavyPadding">
                <% textColors.forEach((variable, index) => {  %>
                  <div class="flex spaceBetween flexAlignCenter">
                    <p><%= variable.Name %></p>
                    <div class="flex flexRight width40 flexAlignCenter">
                      <input id="<%= variable.Name %>-value" value="<%= variable.Value %>" />
                      <div class="color-box" style="background:<%= variable.Value %>"></div>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>

            <!-- ----- Content Colors Panel ----- -->
            <div class="mobilePanel light-content-BG marginBottom10 marginTop10 borderRadiusSmall hideOverflow width450px">
              <h2 class="width100 dark-content-BG padding10px light-text">Content Colors</h2>
              <div class="heavyPadding">
                <% contentColors.forEach((variable, index) => {  %>
                  <div class="flex spaceBetween flexAlignCenter">
                    <p><%= variable.Name %></p>
                    <div class="flex flexRight width40 flexAlignCenter">
                      <input id="<%= variable.Name %>-value" value="<%= variable.Value %>" />
                      <div class="color-box" style="background:<%= variable.Value %>"></div>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
          

          <!-- ----- Other Variables Panel ----- -->
          <div class="mobilePanel light-content-BG flexGrow1 margin10 borderRadiusSmall hideOverflow minWidth450px width450px">
            <h2 class="width100 dark-content-BG padding10px light-text">Other Variables</h2>
            <div class="heavyPadding">
              <% otherVariables.forEach((variable, index) => {  %>
                <div class="flex spaceBetween flexAlignCenter">
                  <p><%= variable.Name %></p>
                  <div class="flex flexRight width40 flexAlignCenter">
                    <input id="<%= variable.Name %>-value" value="<%= variable.Value %>" />
                    <% if (variable.Value.indexOf('#') > -1) { %>
                      <div class="color-box" style="background:<%= variable.Value %>"></div>
                    <% } %>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
        
    <a onclick="saveData();">Save</a>
    <a onclick="httpPostAsync(window.location.href+'/reset-to-defaults', '', reloadIt);">Reset</a>
      </div>
    </div>
    <script>
      function saveData(){
        var vals = <%- JSON.stringify(themeColors) %>;
        vals = vals.concat(<%- JSON.stringify(textColors) %>);
        vals = vals.concat(<%- JSON.stringify(contentColors) %>);
        vals = vals.concat(<%- JSON.stringify(otherVariables) %>);
        var data = "";
        var toPost = false;
        for(var i = 0; i < vals.length; i++){
          data += `&varName=` + vals[i].Name + '&varVal=' + document.getElementById(vals[i].Name + "-value").value;
          if(i === vals.length - 1){
            toPost = true;
          }
        }
        if(toPost){
          httpPostAsync(window.location.href+"/write", data, reloadIt);
        }
      }
    </script>
  </body>
</html>