<!DOCTYPE html>
<html>
  <nav><%- include header.ejs %></nav>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/blockList.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/studentSelection.js"></script>
    <script src="/javascripts/utilityScripts.js"></script>
  </head>
  <body>
    
      <!-- Only display if there are students AND activities-->
    <% if (students.length > 0) {%>
        <% if (activities.length > 0) {%>
            <ul id="selectionButtons" class="selectionButtons">
                <li><a id="studentButton" class="accent2Light-BG" onclick="startWithStudents()">Select Students</a></li>
                <li><a id="activitiesButton" class="accent3Light-BG" onclick="startWithActivities()">Select Activity</a></li>
            </ul>
            <%- include listOfStudents.ejs %></ul>

            <ul id="activities" class="blockList activitiesList">
                <li class="flex flexAlignCenter">
                    <input class="lightGray1-BG font40px" onkeyup="updateSearch('activities', this)"></input>
                    <i class="font50px marginRight20 fas fa-search"></i>
                </li>
                <% activities.forEach((activity, index) => { %>
                <li onclick="activitySelected(this, <%= activity.ActivityId %>)">
                    <div class="blockContainer">
                        <p><%= activity.ActivityName %>
                            <% if(activity.Helper == 1) { %>
                            <i class="fas fa-star accent2Light-text"></i>
                          <% } %></p>
                        <div class="checkmarkOverlay">
                            
                        </div>
                    </div>
                </li>
                <% }) %>
            </ul>
        <% } else { %>
            <div class="missingContainer">
                <h2>No Activities</h2>
                <a href="/admin">Add Activities</a>
            </div>
        <% } %>
    <% } else { %>
        <div class="missingContainer">
            <h2>No Students Today</h2>
            <a href="/admin">Add Students</a>
        </div>
    <% } %>
    
    <footer>
        <ul id="footer" class="studentFooter">
            <li class="flex flexCenter">
                <a id="pottyBreak" class="flexGrow1 accent3Light-BG smallerFont" onclick="pottyBreak()" style="display: none">Potty Break</a>
                <a id="backButton" class="flexGrow1 accent4-BG" onclick="goBack()" style="display: none">Back</a>
                <a id="nextButton" class="flexGrow1 accent2Light-BG smallerFont" onclick="nextStep()" style="display: none">Next</a>
                <a id="submitButton" onclick="submitToDB()" class="flexGrow1 accent2-BG" style="display: none">Submit</a>
            </li>
            <li id="pottyYesNo" class="flex flexCenter">
                <a class="flexGrow1 darkGray3-BG noClick" style="display: none;">Accident?</a>
                <a id="pottyYes" class="flexGrow1 accent4-BG" onclick="submitPottyToDB(this, true)" style="display: none;">Yes</a>
                <a id="pottyNo" class="flexGrow1 accent2-BG" onclick="submitPottyToDB(this, false)" style="display: none;">No</a>
            </li>
        </ul>
    </footer>
  </body>
</html>
